@import "partials/_reset";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Rubik&display=swap');

$size: 3.125em;
.rule-1 {
  value: $size;
}

/*--------------------------------------------------------------
Website Color Theme
--------------------------------------------------------------*/
:root {
  --brown: #844D36;
  --dk-blue-gray: #474853;
  --blue: #86B3D1;
  --mauve: #AAA0A0;
  --dk-tan: #8E8268;
  --white: #ffffff;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
  font-size: 1.125em;
  margin: 0;
}


/* Trivia Game */

.displayStatus {
  padding: 1.250em;

  h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4em;
    line-height: 0;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
  }

  #customBtn {
    display: block;
    height: 1.420em;
    border: none;
    transition: background-color 0.5s ease;
    background-color: #327a35;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 0.938em 1.875em;
    &:hover {
      background-color: #4cab50;
    }
  }

}

#mainGame {
  margin-top: 1.250em;
}
#mainGame::after {
  content: ' ';
  display: block;
  clear: both;
}

#mainGame #headerStyle {


  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    line-height: 0.313em;
    text-align: center;
    color: #000;
  }
}


#mainGame #headerStyle h2 #clock {
  font-size: 1.4em;
}

#mainGame #headerStyle h2 #currentQuestion {
  font-size: 1.2em;
  margin-left: 2em;
}

#mainGame #headerStyle h2 #totalQuestions {
  font-size: 1.2em;
}

#mainGame #triviaSection {
  margin: 0;
}

#mainGame #triviaSection #questionBox {
  background-color: #f1f1f1;
  padding: 0.313em 0.625em;
}


#mainGame #triviaSection #questionBox h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
  line-height: 1.5;
}

#mainGame #triviaSection #buttonContainer {
  background-color: #f1f1f1;
  padding: 0.313em;
  margin-bottom: 0.625em;
}

#mainGame #triviaSection #buttonContainer .answerButton {
  display: block;
  width: 100%;
  height: 3.125em;
  outline: none;
  cursor: pointer;
  background-color: #f1f1f1;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #2e2e2e;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.625em;
  margin: 0;
}

#mainGame #playerStats {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

#mainGame #playerStats #score {
  position: absolute;
  top: 3.125em;
  left: 0.313em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: #000;
  line-height: 0.938em;
}

#mainGame #playerStats #percent {
  position: absolute;
  top: 3.125em;
  right: 3.125em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: #000;
  line-height: 0.938em;
}

#mainGame #nextStyle {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.125em;
}

#mainGame #nextStyle #next {
  position: absolute;
  top: -35px;
  right: 20px;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 9.375em;
  height: 2.500em;
  cursor: pointer;
  background-color: #898ac4;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: capitalize;
}

#mainGame #nextStyle #next:hover {

}

a.qBtn {
  float: right;
  font-size: 1.0em;
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  border: 1px solid #555;
  padding: 2px 7px;
  margin-right: 5.000em;
  margin-bottom: 3.125em;
  transition: background-color .5s;
}

a.qBtn:visited, a.qBtn:active {
  background-color: #555;
}

a.qBtn:hover {
  color: #555;
  background-color: rgba(0, 0, 0, 0.3);
}

.disableClick {
  pointer-events: none;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
@import "partials/_calendar";

.shadow {
  -moz-box-shadow: inset 0 0 0.313em #000000;
  -webkit-box-shadow: inset 0 0 0.313em #000000;
  box-shadow: inset 0 0 0.313em #000000;
}

.button {
  display: inline-block;
  height: 1.420em;
  border: none;
  transition: background-color 0.5s ease;
  background-color: #4CAF50; /* Green */

  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.313em 1.563em;
  font-size: 0.8em;

  &:hover {
    background-color: darken(#4CAF50, 20%);
  }
}

p {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}


/* Login Form CSS */
.login {
  padding: 0.313em;
  margin-top: 3.125em;
  .text_username{
    display: flex;
    justify-content: center;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 1.250em;
  }

  .io_username {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em;
  }

  .text_password {
    display: flex;
    justify-content: center;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 1.250em;
  }

  .io_password {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em;
  }

  .login_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: darken(#86B3D1, 10%);
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 0.625em;
    &:hover, &:active {
      background-color: darken(#86B3D1, 20%);
    }
  }
}

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
  padding: 0 1em;
  text-align: center;
  border-bottom: 1px solid hsl(0, 0%, 90%);

  h1 {
    font-family: 'Cormorant Garamond', serif;
    color: rgba(#555, 0.8);
  }
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  padding: 1em;
  font-size: 1.1em;
  color: white;
  background-color: rgba(#555, 0.5);
}

.trigger {
  display: none;
  padding: .1em .5em;
  color: white;
  background-color: rgba(#555, 1.0);
  border: none;
  transform: rotate(90deg);
}

.trigger:focus,
.trigger:hover {
  outline: 2px dotted hsl(0, 0%, 10%);
}

.trigger:focus {
  outline-color: white;
}

.main-nav ul {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav a {
  display: block;
  padding: .4em 1em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
  text-decoration: underline;
}

/* Display Full Page */
.display_record {
  padding: 1.250em;

  img {
    width: 100%;
    max-width: 50.000em;
    height: 100%;
  }

  h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2.2em;
    font-weight: 700;
    line-height: 0;
  }

  h6 {
    font-family: 'Cormorant Garamond', serif;
    font-style: italic;
    font-size: 1.2em;
    line-height: 0.6;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
  }
}

/* pagination */
.pagination {
  display: block;
  width: 100%;
  max-width: 600px;
  height: auto;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  padding: 10px 20px 5px 20px;

  a {
    color: var(--dk-tan);
    text-decoration: none;
    margin: 0 0.500em;
  }

  span.selected {
    font-weight: bold;
    color: #000;
    margin: 0 0.500em;
  }
}

/* Create Form  styling */
.form_classes {
  width: 100%;
  margin-top: 2.500em;
  .form_image_upload_style {
    width: 100%;
  }

  .heading_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em;
  }

  .enter_input_style {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.313em 0.625em;
  }

  .text_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em;
  }

  .text_input_style {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    height: 25.00em;
    padding: 0.625em;
  }

  .form_button {

    outline: none;
    color: #fff;
    border: none;
    background-color: var(--blue);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    text-transform: capitalize;

    padding: 0.625em 15.8em;
    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }

  .deleteBtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #86B3D1;
    color: #fff;
    line-height: 3.125em;

    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }
}



@import "partials/_contact";


/* Sidebar CSS */

.twin {
  padding: 0.313em;
  color: white;
}

.twin:last-of-type {
  background-color: rgba(#555, 0.2);
}

/* CSS for Listings of Blogs/Threads */
.cards {
  padding: 1.250em;
  list-style-type: none;
}

.card {
  margin-bottom: 1em;
}

.card a {
  color: hsl(0, 0%, 5%);
  text-decoration: none;
  border: 1px transparent;
  transition: all .2s;

  .thumb {
    width: 100%
  }

  .cms_heading {
    background-color: #f1f1f1;
    padding: 0 0.625em;

    h2 {
      font-family: 'Cormorant Garamond', serif;
      line-height: .313em;
    }

    p.byline {
      font-family: 'Rubik', sans-serif;
      font-size: 0.8em;
      font-style: italic;
      font-weight: bold;
    }
  }

  .cms_content {
    background-color: #f1f1f1;
    font-family: 'Rubik', sans-serif;
    font-size: 1.0em;
    line-height: 1.8;
    padding: 0 0.625em;
  }

  &:focus, &:hover {
    margin: -0.313em 0.313em 0.313em -0.313em;
    box-shadow: 0.313em 0.313em 0px 0px hsla(0, 0%, 30%, 0.4);
  }
}

/* Footer CSS */
.colophon {
  padding: 0.313em;
  text-align: center;
  margin-top: 6.250em;
  border-top: 1px solid hsl(0, 0%, 90%);
  p {
    font-family: 'Rubik', sans-serif;
    color: #000;
  }
}



/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

  @media screen and (min-width: 27em) {

    /* Main Site Grid with sliding navigation */
    .site {
      position: relative;
      left: -14em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em);
      grid-template-areas:
				"nav header"
				"nav main"
				"nav sidebar"
				"nav footer";
      transition: left .6s;
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
    }

    .footerStyle {
      grid-column: 1/4;
      grid-row: 4/5;
      justify-items: auto;
    }


    .sidebar {
      grid-area: sidebar;
    }

    .colophon {
      grid-area: footer;
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -0.9em;
      transition: left .6s;
    }

    .reveal .trigger {
      left: 12em;
    }


  }
  // End Media Query
}

@media screen and (min-width: 60em) {
  /* Cards Grid */
  .cards {
    width: 60em;
    padding: 0;
    margin: 1.250em auto;
  }

  .card a {
    display: grid;
    grid-template-columns: fit-content(18.500em) 1fr;
    grid-template-areas:
				"thumbnail heading"
				"thumbnail content";
    justify-content: space-around;
  }
  .thumb {
    grid-area: thumbnail;
  }
  .cms_heading {
    grid-area: heading;
  }
  .cms_content {
    grid-area: content;
  }

/* Full Page Grid */
  .display_record {
    display: grid;
    grid-template-columns: fit-content(60.00em);
    grid-template-areas:
				"image"
				"heading"
                "sub-heading"
                "paragraph";
    justify-content: space-around;

    img {
      grid-area: image;
    }

    h3 {
      grid-area: heading;
    }

    h6 {
      grid-area: sub-heading;
    }

    p {
      grid-area: paragraph;
    }
  }

  /* Login Form Grid */
  .login {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-template-rows: 3.125em 3.125em 3.125em;
    grid-template-areas:
				"user_label user_io"
				"password_label password_io"
                "login_button login_button";
    grid-gap: 1.250em;
    justify-content: center;
  }

  .text_username {
    grid-area: user_label;
  }

  .io_username {
    grid-area: user_io;
  }

  .text_password {
    grid-area: password_label;
  }

  .io_password {
    grid-area: password_io;
  }

  .login_button {
    grid-area: login_button;
  }

  /* form grid styling */
  .form_classes {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-auto-rows: auto;
    grid-template-areas:
				"upload upload"
				"heading heading_input"
                "content_label content"
                " . form_button";
    grid-gap: 1.250em;
    justify-content: center;
    overflow: hidden;
    .form_image_upload_style {
      grid-area: upload;
    }
    .heading_label_style {
      grid-area: heading;
      padding: 0;
    }
    .enter_input_style {
      grid-area: heading_input;
    }
    .text_label_style {
      grid-area: content_label;
      padding: 0;
    }
    .text_input_style {
      grid-area: content;
    }
    .form_button {
      grid-area: form_button;
    }
  }


  /* Display Info for Trivia Game*/
  .displayStatus {
    display: grid;
    grid-template-columns: fit-content(60.00em);
    grid-template-areas:
				"start"
				"title"
                "info";
    justify-content: space-around;
  }

  .startBtn {
    grid-area: start;
  }

  .displayTitle {
    grid-area: title;
  }

  .triviaInfo {
    grid-area: info;
  }

  /* Trivia Game Grid */
  #mainGame {
    display: grid;
    grid-template-columns: fit-content(50.00em);
    grid-template-areas:
				"header"
				"game"
                "stats"
                "next";
    justify-content: space-around;
  }

  #headerStyle {
    grid-area: header;
  }

  #triviaSection {
    grid-area: game;
  }

  #playerStats {
    grid-area: stats;
  }

  #nextStyle {
    grid-area: next;
  }

} // End of Media Query

@media screen and (min-width: 78em) {

  .site {
    grid-template-columns: 15em calc(100% - 16em) 15em;
    grid-template-areas:
				"nav header header"
				"nav main sidebar"
				"nav footer footer";
  }
}