@import "partials/_reset";
@import "partials/color_theme_1";
@import "partials/_calendar";
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Rubik&display=swap');

$size: 3.125em;
.rule-1 {
  value: $size;
}

/*--------------------------------------------------------------
Website Color Theme
--------------------------------------------------------------*/
:root {
  --brown: #844D36;
  --dk-blue-gray: #474853;
  --blue: #86B3D1;
  --mauve: #AAA0A0;
  --dk-tan: #8E8268;
  --white: #ffffff;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
  background-color: $color-medium-01;
  font-size: 1.125em;
  margin: 0;
}


/* Trivia Game */

.displayStatus {
  background-color: $color-really-dark-01;
  color: $color-light-01;
  padding: 1.250em;
  margin: 1.250em auto;

  h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4em;
    line-height: 0;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
  }

  #customBtn {
    display: block;
    height: 1.420em;
    border: none;
    transition: background-color 0.5s ease;
    background-color: $color-light-01;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: $color-really-dark-01;
    text-align: center;
    text-decoration: none;
    padding: 0.938em 1.875em;

    &:hover {
      background-color: darken($color-light-01, 10%);
    }
  }

}

#mainGame {
  margin-top: 1.250em;
}

#mainGame::after {
  content: ' ';
  display: block;
  clear: both;
}

#mainGame #headerStyle {


  h2 {
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
    line-height: 0.313em;
    text-align: center;
    color: #fff;
  }
}


#mainGame #headerStyle h2 #clock {
  font-size: 1.4em;
}

#mainGame #headerStyle h2 #currentQuestion {
  font-size: 1.2em;
  margin-left: 2em;
}

#mainGame #headerStyle h2 #totalQuestions {
  font-size: 1.2em;
}

#mainGame #triviaSection {
  margin: 0;
}

#mainGame #triviaSection #questionBox {
  background-color: $color-really-dark-01;
  padding: 0.313em 0.625em;
}


#mainGame #triviaSection #questionBox h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
  line-height: 1.5;
  color: $color-light-01;
}

#mainGame #triviaSection #buttonContainer {
  background-color: $color-dark-01;
  margin-bottom: 0.625em;
}

#mainGame #triviaSection #buttonContainer .answerButton {
  display: block;
  width: 100%;
  height: 3.125em;
  outline: none;
  cursor: pointer;
  background-color: $color-dark-01;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.625em;
  margin: 0;
}

#mainGame #playerStats {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

#mainGame #playerStats #score {
  position: absolute;
  top: 3.125em;
  left: 0.313em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #playerStats #percent {
  position: absolute;
  top: 3.125em;
  right: 3.125em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #nextStyle {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.125em;
}

#mainGame #nextStyle #next {
  position: absolute;
  top: -35px;
  right: 20px;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 9.375em;
  height: 2.500em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: lighten($color-really-dark-02, 10%);
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: capitalize;

  &:hover {
    background-color: $color-really-dark-02;
  }
}


a.qBtn {
  float: right;
  font-size: 1.0em;
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  border: 1px solid #555;
  padding: 2px 7px;
  margin-right: 5.000em;
  margin-bottom: 3.125em;
  transition: background-color .5s;
}

a.qBtn:visited, a.qBtn:active {
  background-color: #555;
}

a.qBtn:hover {
  color: #555;
  background-color: rgba(0, 0, 0, 0.3);
}

.disableClick {
  pointer-events: none;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/


.shadow {
  -moz-box-shadow: inset 0 0 0.313em #000000;
  -webkit-box-shadow: inset 0 0 0.313em #000000;
  box-shadow: inset 0 0 0.313em #000000;
}

.button {
  display: inline-block;
  height: 1.420em;
  border: none;
  transition: background-color 0.5s ease;
  background-color: #4CAF50; /* Green */

  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.313em 1.563em;
  font-size: 0.8em;

  &:hover {
    background-color: darken(#4CAF50, 20%);
  }
}

p {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}


/* Login Form CSS */
.login {
  padding: 0.313em;
  margin-top: 3.125em;

  .text_username {
    display: flex;
    justify-content: center;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 1.250em;
  }

  .io_username {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em;
  }

  .text_password {
    display: flex;
    justify-content: center;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 1.250em;
  }

  .io_password {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em;
  }

  .login_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: darken(#86B3D1, 10%);
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 0.625em;

    &:hover, &:active {
      background-color: darken(#86B3D1, 20%);
    }
  }
}

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/

.masthead {
  display: flex;
  justify-content: center;
  padding: 1.250em;
  border-bottom: 1px solid hsl(0, 0%, 90%);

  img {
    width: 6.250em;
    height: 6.250em;
    margin-right: 1.250em;
  }

  h1 {
    font-family: 'Cormorant Garamond', serif;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #fff;
  }
}

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  padding: 1em;
  font-size: 1.1em;
  color: $color-light-01;
  background: rgb(57, 61, 56);
  background: linear-gradient(90deg, rgba(57, 61, 56, 0.9317927854735644) 0%, rgba(65, 84, 60, 0.9345939059217437) 32%, rgba(104, 120, 100, 1) 100%);
  border-radius: 0 0 1.875em 0;
  box-shadow: 0 0.250em 0.500em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.250em 0 rgba(0, 0, 0, 0.19);
}

.trigger {
  display: none;
  padding: .1em .5em;
  color: $color-light-01;
  background-color: $color-really-dark-02;
  border: none;
  transform: rotate(90deg);
}

.trigger:focus,
.trigger:hover {
  outline: 2px dotted hsl(0, 0%, 10%);
}

.trigger:focus {
  outline-color: white;
}

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.main-nav a {
  display: block;
  padding: .4em 1em;
  color: white;
  text-transform: capitalize;
  text-decoration: none;
}

.main-nav a:focus,
.main-nav a:hover {
  text-decoration: underline;
}

/* Display Full Page */
.display_record {
  background-color: #f1f1f1;
  padding: 1.250em;

  img {
    width: 100%;
    max-width: 50.000em;
    height: 100%;
  }

  h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    color: #555555;
    font-weight: 700;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 0;
  }

  h6 {
    font-family: 'Cormorant Garamond', serif;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    color: #555;
    font-size: 1.0em;
    line-height: 0.6;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    line-height: 1.5;
    color: #555555;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
}

.pagination .three-dots {
  color: $color-really-dark-01;
  margin: 0.313em 0.500em;
}

.pagination a {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-really-dark-01;
  text-decoration: none;
  padding-left: 0.313em;
}

.pagination a.selected {
  font-weight: bolder;
  color: $color-really-dark-02;
  padding-left: 0.313em;
}

/* Trivia Form CSS */
.trivia_form {
  width: 100%;
  margin-top: 2.500em;

  .question_label, .answer_one_label, .answer_two_label,
  .answer_three_label, .answer_four_label, .correct_answer_label {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em;
  }

  .question_input {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    height: 25.00em;
    padding: 0.625em;
  }

  .answer_one_input, .answer_two_input, .answer_three_input, .answer_four_input, .correct_answer_input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.313em 0.625em;
  }

  .form_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: var(--blue);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0.625em 13.1em;
    transition: background-color .5s;
    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }

}

/* Create Form  styling */
.form_classes {
  width: 100%;
  margin-top: 2.500em;

  .form_image_upload_style {
    width: 100%;
  }

  .heading_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em;
  }

  .enter_input_style {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.313em 0.625em;
  }

  .text_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em;
  }

  .text_input_style {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    height: 25.00em;
    padding: 0.625em;
  }

  .delete_button {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--blue);
    padding: 0.625em 2.500em;
    transition: background-color .5s;

    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }

  .form_button {

    outline: none;
    color: #fff;
    border: none;
    background-color: var(--blue);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0.625em 13.1em;
    transition: background-color .5s;

    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }

  .deleteBtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #86B3D1;
    color: #fff;
    line-height: 3.125em;

    &:hover, &:active {
      background-color: darken(#86B3D1, 10%);
    }
  }
}


@import "partials/_contact";


/* Sidebar CSS */

.twin {
  padding: 0.313em;
  color: white;
}

.twin:last-of-type {

}

/* CSS for Listings of Blogs/Threads */
.cards {
  padding: 1.250em;
  list-style-type: none;
}

.card {
  background-color: $color-really-dark-01;
  margin-bottom: 1em;
}

.card a {
  color: $color-light-01;
  text-decoration: none;
  border: 1px transparent;
  transition: all .2s;

  .thumb {
    width: 100%
  }

  .cms_heading {
    padding: 0 0.625em;

    h2 {
      font-family: 'Cormorant Garamond', serif;
      line-height: .313em;
      font-size: 1.2em;
    }

    p.byline {
      font-family: 'Rubik', sans-serif;
      font-size: 0.6em;
      font-style: italic;
      font-weight: bold;
      padding-bottom: 0.313em;
    }
  }

  .cms_content {
    font-family: 'Rubik', sans-serif;
    font-size: 1.0em;
    line-height: 1.8;
    padding: 0 0.625em;
  }

  &:focus, &:hover {
    margin: -0.313em 0.313em 0.313em -0.313em;
    box-shadow: 0.313em 0.313em 0 0 hsla(0, 0%, 30%, 0.4);
  }
}

/* Footer CSS */
.colophon {
  background-color: $color-really-dark-02;
  text-align: center;
  margin-top: 6.250em;
  border-top: 1px solid hsl(0, 0%, 90%);
  padding: 0.313em;

  p {
    font-family: 'Rubik', sans-serif;
    color: $color-light-01;
  }
}


/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {

  @media screen and (min-width: 27em) {

    /* Main Site Grid with sliding navigation */
    .site {
      position: relative;
      left: -14em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em) 15em;
      grid-template-areas:
				"nav header header"
				"nav main sidebar"
				"nav main sidebar"
				"footer footer footer";
      transition: left .6s;
    }

    .reveal {
      left: 0;
    }

    .masthead {
      grid-area: header;
    }

    .main-area {
      grid-area: main;
    }

    .sidebar {
      grid-area: sidebar;
    }

    .colophon {
      grid-area: footer;
    }

    .main-nav {
      grid-area: nav;
    }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column;
    }

    .open ul {
      display: flex;
    }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -0.9em;
      transition: left .6s;
    }

    .reveal .trigger {
      left: 12em;
    }


  }
  // End Media Query
}

@media screen and (min-width: 60em) {
  /* Cards Grid */
  .cards {
    width: 60em;
    padding: 0;
    margin: 1.250em auto;
  }

  .card a {
    display: grid;
    grid-template-columns: fit-content(18.500em) 1fr;
    grid-template-areas:
				"thumbnail heading"
				"thumbnail content";
    justify-content: space-around;
  }
  .thumb {
    grid-area: thumbnail;
  }
  .cms_heading {
    grid-area: heading;
    font-size: 1.4em;

    p.byline {
      font-size: 1.0em;
    }
  }
  .cms_content {
    grid-area: content;
  }

  /* Full Page Grid */
  .display_record {
    display: grid;
    grid-template-columns: fit-content(60.00em);
    grid-template-areas:
				"image"
				"heading"
                "sub-heading"
                "paragraph";
    justify-content: space-around;
    background-color: #f1f1f1;
    width: 50em;
    margin: 1.250em auto;

    img {
      grid-area: image;
    }

    h3 {
      grid-area: heading;
      font-size: 2.2em;
      margin: 0.8em 0 0.4em;
    }

    h6 {
      grid-area: sub-heading;
      font-size: 1.2em;
      margin: 0.8em 0;
    }

    p {
      grid-area: paragraph;
    }
  }

  /* Login Form Grid */
  .login {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-template-rows: 3.125em 3.125em 3.125em;
    grid-template-areas:
				"user_label user_io"
				"password_label password_io"
                "login_button login_button";
    grid-gap: 1.250em;
    justify-content: center;
  }

  .text_username {
    grid-area: user_label;
  }

  .io_username {
    grid-area: user_io;
  }

  .text_password {
    grid-area: password_label;
  }

  .io_password {
    grid-area: password_io;
  }

  .login_button {
    grid-area: login_button;
  }

  /* trivia grid styling */
  .trivia_form {
    display: grid;
    grid-template-columns: 18.5em 37em;
    grid-auto-rows: auto;
    grid-template-areas:
				"question_label question_textarea"
				"answer1_label answer1_input"
                "answer2_label answer2_input"
                "answer3_label answer3_input"
                "answer4_label answer4_input"
                "correct_label correct_input"
                "form_button form_button";
    grid-gap: 1.250em;
    justify-content: center;
    overflow: hidden;
    .question_label {
      grid-area: question_label;
      padding: 0;
    }
    .question_input {
      grid-area: question_textarea;
    }
    .answer_one_label {
      grid-area: answer1_label;
      padding: 0;
    }
    .answer_one_input {
      grid-area: answer1_input;
    }
    .answer_two_label {
      grid-area: answer2_label;
      padding: 0;
    }
    .answer_two_input {
      grid-area: answer2_input;
    }
    .answer_three_label {
      grid-area: answer3_label;
      padding: 0;
    }
    .answer_three_input {
      grid-area: answer3_input;
    }
    .answer_four_label {
      grid-area: answer4_label;
      padding: 0;
    }
    .answer_four_input {
      grid-area: answer4_input;
    }
    .correct_answer_label {
      grid-area: correct_label;
      padding: 0;
    }
    .correct_answer_input {
      grid-area: correct_input;
    }
    .form_button {
      grid-area: form_button;
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      width: 50%;
    }
  }
  /* form grid styling */
  .form_classes {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-auto-rows: auto;
    grid-template-areas:
				"upload upload"
				"heading heading_input"
                "content_label content"
                "delete form_button";
    grid-gap: 1.250em;
    justify-content: center;
    overflow: hidden;

    .form_image_upload_style {
      grid-area: upload;
    }

    .heading_label_style {
      grid-area: heading;
      padding: 0;
    }

    .enter_input_style {
      grid-area: heading_input;
    }

    .text_label_style {
      grid-area: content_label;
      padding: 0;
    }

    .text_input_style {
      grid-area: content;
    }

    .delete_button {
      grid-area: delete;
    }

    .form_button {
      grid-area: form_button;
    }
  }


  /* Display Info for Trivia Game*/
  .displayStatus {
    display: grid;
    grid-template-columns: fit-content(60.00em);
    grid-template-areas:
				"start"
				"title"
                "info";
    justify-content: space-around;
    width: 31.25em;
  }

  .startBtn {
    grid-area: start;
  }

  .displayTitle {
    grid-area: title;
  }

  .triviaInfo {
    grid-area: info;
  }

  /* Trivia Game Grid */
  #mainGame {
    display: grid;
    grid-template-columns: fit-content(50.00em);
    grid-template-areas:
				"header"
				"game"
                "stats"
                "next";
    justify-content: space-around;
  }

  #headerStyle {
    grid-area: header;
  }

  #triviaSection {
    grid-area: game;
  }

  #playerStats {
    grid-area: stats;
  }

  #nextStyle {
    grid-area: next;
  }

}

// End of Media Query

@media screen and (min-width: 78em) {

  .site {
    grid-template-columns: 15em calc(100% - 16em) 15em;
    grid-template-areas:
				"nav header header"
				"nav main sidebar"
				"footer footer footer";
  }
}