@import "partials/_reset";

$size: 3.125em;
.rule-1 {
  value: $size;
}
/*--------------------------------------------------------------
Website Color Theme
--------------------------------------------------------------*/
:root {
  --brown: #844D36;
  --dk-blue-gray: #474853;
  --blue: #86B3D1;
  --mauve: #AAA0A0;
  --dk-tan: #8E8268;
  --white: #ffffff;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/

body {
  font-size: 1.125em;
  margin: 0;
}


/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
@import "partials/_calendar";

.shadow {
  -moz-box-shadow:    inset 0 0 0.313em #000000;
  -webkit-box-shadow: inset 0 0 0.313em #000000;
  box-shadow:         inset 0 0 0.313em #000000;
}




p {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.headerStyle {

}
.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 3.125em;
  grid-gap: 0.313em;
  padding: 0.313em;
  label.username {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 0.313em;
  }
  label.password {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: darken(#86B3D1, 10%);
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    padding: 0.313em;
  }
  #username, #password {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    font-size: 1.2em;
    padding: .313em;
  }
  button {
    grid-column: 1/3;
    grid-row: 3/4;
    outline: none;
    color: #fff;
    border: none;
    background-color: darken(#86B3D1, 10%);
    box-shadow: 2px 2px 1px rgba(#000, 0.5);
    &:hover, &:active {
      background-color: darken(#86B3D1, 20%);
    }
  }
}
.sidebar {
  background: var(--mauve);
  padding: 0.625em;
}
.navigation {
  background-color: var(--dk-blue-gray);
  margin-bottom: 0.500em;
}
/*--------------------------------------------------------------
Navigation Menu Styling
--------------------------------------------------------------*/
ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topNav li {float: left;}

ul.topNav li a {
  display: block;
  color: white;
  text-align: center;
  text-transform: capitalize;
  padding: 0.875em 1em;
  text-decoration: none;
}

ul.topNav li a:hover:not(.active) {background-color: #111;}

ul.topNav li a.active {background-color: #4CAF50;}

ul.topNav li.right {float: right;}

@media screen and (max-width: 37.000em) {
  ul.topNav li.right,
  ul.topNav li {float: none;}
  ul.topNav li a { text-align: left;}
}

.mainStyle {
  color: #555;
  h1 {
    text-align: left;
  }
}

.cmsEditor {
  width: 100%;

  fieldset {
    border: 0.125em solid #000;
    padding: 0.313em;
    margin-bottom: 0.625em;
    legend {
      font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
      font-size: 1.4em;
      color: #000;
      padding: 0 0.313em;
    }
    label.heading {
      clear: left;
      float: left;
      display: block;
      width: 6.250em;
      height: 2.500em;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      color: #000;
      text-transform: capitalize;
      padding: 0.125em 0 0 0;
    }
    input.headingInput {
      clear: right;
      display: block;
      width: 70%;
      height: 1.875em;
      border: none;
      outline: none;
      background-color: #fef0db;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0em;
      color: #2e2e2e;
      padding: 0 0.313em;
      margin-bottom: 0.625em;
    }
    label.content {
      clear: both;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      line-height: 1.5;
      color: #000;
    }
    }
    textarea.contentTextarea {
      border: none;
      outline: none;
      resize: none;
      width: 70%;
      max-width: 100%;
      height: 12.50em;
      background-color: #fef0db;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0em;
      line-height: 1.5;
      padding: 0.625em 0.313em;
      margin-top: 0.125em;
    }
    input.submitBtn {
      cursor: pointer;
      clear: both;
      border: none;
      outline: none;
      float: right;
      display: block;
      width: 6.500em;
      height: 2.500em;
      background-color: #000;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0em;
      text-align: center;
      text-transform: capitalize;
      color: #fff;
      margin-top: 0.625em;
      margin-right: 0.625em;
  }

}

.dataEntry {
  display: block;
  width: 50.000em;
  height: 37.000em;
  background-color: #fef0db;

}



.formGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: auto;
  justify-content: space-evenly;
  justify-items: normal;
  grid-gap: 1.250em;
  background-color: #f1f1f1;
  padding: 1.250em;
}
.image-upload {
  grid-column: 2/5;
  grid-row: 1/2;
}
.headingLabel {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #86B3D1;
  color: #fff;
  text-align: center;
  line-height: 3.125em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.enterHeading {
  grid-column: 2/5;
  grid-row: 2/3;
  border: none;
  outline: none;
  background-color: #fff;
  font-size: 1.2em;
  line-height: 1.5;
  height: 3.125em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  padding: 0.313em 0.625em;
}
.textLabel {
  grid-column: 1/2;
  grid-row: 3/4;
  background-color: #86B3D1;
  color: #fff;
  text-align: center;
  line-height: 3.125em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.contentTextarea {
  grid-column: 2/5;
  grid-row: 3/4;
  border: none;
  outline: none;
  resize: none;
  background-color: #fff;
  font-size: 1.2em;
  line-height: 1.5;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  height: 25.00em;
  padding: 0.625em;
}
.deleteBtn {
  grid-column: 1/2;
  grid-row: 4/5;
  display: flex;
  justify-content: center;
  text-decoration: none;
  background-color: #86B3D1;
  color: #fff;
  line-height: 3.125em;
  &:hover, &:active {
    background-color: darken(#86B3D1, 10%);
  }
}
.myButton {
  grid-column: 2/5;
  grid-row: 4/5;
  outline: none;
  color: #fff;
  border: none;
  background-color: var(--blue);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  text-transform: capitalize;
  height: 3.125em;
  &:hover, &:active {
    background-color: darken(#86B3D1, 10%);
  }
}


footer {
  padding: 0.313em;
  text-align: center;
  background-color: var(--dk-blue-gray);

  p {
    color: #fff;
  }
}

/* CMS Threads */
.cmsThreads {
  display:grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  justify-content: space-around;
  justify-items: auto;
  background-color: var(--mauve);
  padding: 0.625em;
  .display {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: fit-content(18.500em) minmax(1fr, 37.000em);
    grid-template-rows: 6.250em 6.250em;
    grid-row: auto;
    justify-content: space-evenly;
    justify-items: left;

    background-color: #f1f1f1;
    margin-bottom: 0.625em;
    .thumb {
      grid-column: 1/2;
      grid-row: 1/3;
      display: flex;
      justify-content: center;
      width: 18.500em;
      height: 12.500em;
    }
    .cms_heading {
      grid-column: 2/3;
      grid-row: 1/2;
      padding: 0.625em;
      h3 {
        height: 0.313em;
        font-size: 1.4em;
        line-height: 0.8;
      }
      h6 {

        font-size: 0.8em;
        line-height: 1.0;
      }
    }
    p {
      grid-column: 2/3;
      grid-row: 2/3;
      font-size: 1.0em;
      line-height: 1.5;
      padding: 0.625em;
    }
    .moreBtn {
      color: #844D36;
      text-decoration: none;
      &:hover {
        color: #4CAF50;
      }
    }
  }

  /* Pagination */

  .pagination {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: var(--dk-blue-gray);
    padding: 1.250em;
    margin: 0;
  }

  .pagination a, .pagination span {
    display: inline-block;
    font-size: 1.2em;
    color: #fff;
    text-decoration: none;
    margin: 0 5px;
  }

  .pagination span.selected {
    font-weight: bold;
    color: #ffff00;
  }
}

@media screen and (min-width: 50em) {
  @supports (display: flex) {

    .twoBoxes {
      display: flex;
      justify-content: space-evenly;
      background-color: #fff;
      .bold {
        background-color: rgba(lightblue, 0.7);
      }
      .box {
        display: block;
        width: 100%;
        max-width: 37.00em;
        height: auto;
        background-color: #fff;
        padding: 1.250em;
        margin: 0.625em;
        $factor:  1;
        $percentageFactor:  1;
        @import "partials/_calendar";
        h1, p {
          color: var(--dk-blue-gray);
        }
        h1 {
          line-height: 1.0;
        }
        p {
          font-size: 1.2em;
        }
      }

      .dkBlueGray {
        background-color: var(--dk-blue-gray);
      }

    }
  }
}

/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/

.site {
  background-color: var(--blue);
  max-width: 75em;
  margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/

@supports (grid-area: auto) {

  @media screen and (min-width: 75em) {

    .site {
      max-width: none;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto;
      grid-gap: 0;
    }
    .wrapper {
      grid-column: 2/3;
      display: none;
      grid-template-columns: repeat(4, 1fr);
      gap: 0.625em;
      grid-auto-rows: 37.000em;
      grid-template-areas:
        ". mid mid ."
        ". mid mid .";
      background-color: rgba(#000, 0.2);
      z-index: 10;
    }

    .centerForm {
      grid-area: mid;
      align-self: center;
    }

    .mainArea {
      z-index: 1;
      grid-column: 2/3;
      display: grid;
      grid-template-columns: 25.000em repeat(2, 37.500em);
      grid-template-rows: fit-content(25.000em) fit-content(1fr) 50.000em fit-content(3.125em);
      justify-content: space-evenly;
      justify-items: auto;
      grid-gap: 1.250em;
      margin: 0;
    }

    .topLeft {
      grid-column: 1/2;
      grid-row: 1/2
    }
    .navigation {
      display: flex;
      justify-content: center;
      height: 3.125em;

    }
    .headerStyle {
      grid-column: 2/4;
      grid-row: 1/2;
      padding: 0;
      margin: 0;
    }
    .sidebar {
      grid-column: 1/2;
      grid-row: 2/3;
    }
    .mainStyle {
      grid-column: 2/4;
      grid-row: 2/3;
    }

    .contentContainer {
      grid-column: 1/4;
      grid-row: 3/4;
      display: flex;
      justify-content: center;
    }
    .footerStyle {
      grid-column: 1/4;
      grid-row: 4/5;
      justify-items: auto;
    }
  } // End Media Query
} // End Support Grid Area