@import "partials/_reset";
@import "partials/color_theme_1";
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;0,700;1,500&family=Work+Sans:ital,wght@0,400;0,500;0,700;1,500;1,600&display=swap');

/* Accessibility */
#skip a {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;

  &:focus {
    position: static;
    width: auto;
    height: auto;
  }
}

/* Typography Styling */

h1, h2, h3, h4, h5, h6, legend, label {
  font-family: 'Work Sans', sans-serif;
}

p, a, label, textarea {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  font-weight: normal;
}

/* High Score Table */
.styled-table {
  border-collapse: collapse;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 100%;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr.tableTitle {
  background-color: #fff;
}

.styled-table thead tr.tableTitle th {
  text-align: center;
}

.styled-table thead tr.subTitle {
  background-color: #009879;
  color: #ffffff;
  text-align: center;
}

.styled-table th,
.styled-table td {
  text-align: left;
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: silver;
}

.styled-table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #009879;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #00b28d;
}

#totals h2 {
  color: #fff;
}

#totals p {
  color: #fff;
  line-height: 0.6;
}

/* General Styling */
body {
  background-color: #f1f1f1;
  padding: 0;
  margin: 0;
}

.info {
  display: block;
  height: auto;
  background-color: #fff;
  padding: 0.625em;
  margin-bottom: 1.250em;

  h2 {
    font-weight: 400;
    font-size: 1.8em;
    color: $color-really-dark-02;
  }

  p {
    font-weight: 400;
    color: $color-really-dark-02;
  }

  .repository {
    text-decoration: none;
    color: #21759b;
    transition: color 0.5s ease;

    &:hover {
      color: $color-dark-02;
    }
  }

}

.logo_style {
  display: block;
  width: 5em;
  height: auto;
  margin: 0.313em auto;
}

img {
  width: 100%;
  height: auto;
}

ol, ul {
  list-style: none;
}

h2.main_heading {
  color: $color-really-dark-02;
  text-align: center;
}

/* Smartphone CSS */
.masthead {
  display: none;
  background-image: url(../images/img-header-001-414.jpg);
  background-repeat: no-repeat;
  height: 12.50em;
  border-bottom: 1px solid hsl(0, 0%, 90%);

  .username {
    float: right;
    display: block;
    width: 12.50em;
    height: auto;
    background-color: rgba(#000, 0.5);
    text-align: center;
    padding: 0.3125em;
    margin: 0.9375em;

    h1 {
      font-family: 'Rubik', sans-serif;
      font-size: 1.2em;
      color: #fff;
    }
  }
}

/* Navigational CSS */
.nav {
  position: relative;
  width: 100%;
  height: 3.700em;
  background-color: lighten($color-really-dark-02, 15%);
  border-bottom: 1px solid hsl(0, 0%, 90%);
}

.nav-title {
  display: inline-block;
  font-size: 1.2em;
  line-height: 0.5;
  color: #fff;
  padding-left: 0.625em;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 1.250em;
  padding-right: 3.125em;
}

.nav > .nav-links > a {
  display: inline-block;
  line-height: 1.875em;
  text-decoration: none;
  text-transform: capitalize;
  color: #efefef;
  padding: 0.313em 0.625em;
}

.nav > .nav-links > a:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

.nav > #nav-check {
  display: none;
}

/* Navigation CSS Media Query */
@media screen and (max-width: 77em) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    cursor: pointer;
    width: 3.125em;
    height: 3.125em;
    padding: 0.875em;
  }

  .nav > .nav-btn > label > span {
    display: block;
    width: 1.563em;
    height: 0.500em;
    border-top: 0.125em solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: #333;
    height: 0;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 3.125em;
    left: 0;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 3.125em);
    overflow-y: auto;
  }
}

/* pagination */
.pagination {
  display: flex;
  justify-content: center;
  background-color: #dbded5;
}

.pagination .three-dots {
  color: darken($color-really-dark-02, 15%);
  font-size: 1.4em;
  font-weight: bold;
  margin: 0.313em 0.500em 0;
}

.pagination a {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4em;
  color: darken($color-really-dark-02, 15%);
  text-decoration: none;
  padding-left: 0.313em;
}

.pagination a.selected {
  font-weight: bolder;
  color: darken($color-really-dark-02, 35%);
  padding-left: 0.313em;
}

/* CMS Article */

article.cms {
  background-color: $color-light-01;
  padding: 1.250em;
  margin: 0;

  .byline {
    background-color: #54905C;
    padding: 0.625em;
    margin-bottom: 1.250em;

    img.logo {
      width: 6.250em;
      height: 6.250em;
    }

    h2.title, span {
      color: #fff;
    }


  }

  span.author_style {

  }

  .article_image {
    width: 100%;
    max-width: 37.000em;
  }

  p {
    color: $color-really-dark-02;
  }
}


.nasa_perseverance_container {
  #perseverance_image {

  }

  figcaption {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
    font-weight: bold;
    color: $color-dark-01;
    padding-top: 0.313em;
  }
}

.sidebar {
  background-color: $color-medium-01;
  padding: 0.625em;

  .register {
    text-decoration: none;
  }
}

.external_links {

  a, p {
    width: 6.25em;
    height: 6.25em;
  }
}

/* Trivia Game */

.displayStatus {
  background-color: $color-light-01;
  color: darken($color-really-dark-02, 35%);
  padding: 1.250em;

  h4 {
    font-family: 'Rubik', sans-serif;
    font-size: 1.4em;
    line-height: 0;
    font-weight: 500;
  }

  p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
  }

  #customBtn {
    display: block;
    height: 1.420em;
    border: none;
    transition: background-color 0.5s ease;
    background-color: darken($color-medium-01, 8%);
    font-family: 'Work Sans', sans-serif;
    font-size: 1.6em;
    font-weight: bold;
    color: $color-light-01;
    text-align: center;
    text-decoration: none;
    padding: 0.938em 1.875em;

    &:hover {
      background-color: darken($color-medium-01, 12%);
    }
  }

}

.triviaContainer {
  background-color: lighten($color-really-dark-02, 35%);
}

#mainGame {
  padding: 1.250em;
}

#mainGame::after {
  content: ' ';
  display: block;
  clear: both;
}

#headerStyle {
  display: block;
  background-color: #fff;
  padding: 1.250em;
}
#score {
  background-color: #00b28d;
  padding: 0.625em;
}
#percent {
  background-color: #4CAF50;
  padding: 0.625em
}

#current {
  background-color: #63846D;
  color: #fff;
  padding: 0.625em;
}

.gauge {
  margin: 0 auto;
  width: 100%;
  max-width: 250px;
  font-family: "Roboto", sans-serif;
  font-size: 1.250em;
  color: #004033;
}

.gauge__body {
  width: 100%;
  height: 0;
  padding-bottom: 50%;
  background: #b4c0be;
  position: relative;
  border-top-left-radius: 100% 200%;
  border-top-right-radius: 100% 200%;
  overflow: hidden;
}

.gauge__fill {
  position: absolute;
  top: 100%;
  left: 0;
  width: inherit;
  height: 100%;
  background: #009578;
  transform-origin: center top;
  transform: rotate(0.25turn);
  transition: transform 0.2s ease-out;
}

.gauge__cover {
  width: 75%;
  height: 150%;
  background: #ffffff;
  border-radius: 50%;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translateX(-50%);

  /* Text */
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 25%;
  box-sizing: border-box;
}

#next {
  float: right;
  outline: none;
  color: #fff;
  border: none;
  background-color: #4CAF50;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 6.25em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.313em;
  margin: 0.625em 0;
  transition: background-color .5s;

  &:hover, &:active {
    background-color: darken(#45a049, 15%);
  }
}

#finalResult {
  padding: 1.250em;
  h2 {
    font-family: 'Work Sans', sans-serif;
    font-size: 1.8em;
    color: darken($color-really-dark-02, 15%);
  }
  p {
    font-size: 1.2em;
    line-height: 1.5;
    color: darken($color-really-dark-02, 15%);
  }
}

.btn1 {
  outline: none;
  color: #fff;
  border: none;
  background-color: #4CAF50;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  width: 6.25em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  text-transform: capitalize;
  text-decoration: none;
  padding: 0.313em;
  margin: 0.625em;
  transition: background-color .5s;

  &:hover, &:active {
    background-color: darken(#45a049, 15%);
  }
}

#mainGame #headerStyle h2 #clock {
  opacity: 0;
  font-size: 1.4em;
}

#mainGame #headerStyle h2 #currentQuestion {
  font-size: 1.2em;
  margin-left: 2em;
}

#mainGame #headerStyle h2 #totalQuestions {
  font-size: 1.2em;
}

#mainGame #triviaSection {
  margin: 0;
}

#mainGame #triviaSection #questionBox {
  background-color: $color-light-01;
  padding: 0.125em 0.625em;
}

#mainGame #triviaSection #questionBox h2 {
  font-family: 'Work Sans', sans-serif;
  font-size: 1.4em;
  line-height: 1.5;
  color: $color-really-dark-02;
  font-weight: 400;
}

#mainGame #triviaSection #buttonContainer {
  background-color: $color-dark-01;
  margin-bottom: 0.625em;
}

#mainGame #triviaSection #buttonContainer .answerButton {
  display: block;
  width: 100%;
  height: 3.125em;
  border: 2px solid $color-light-01;
  outline: none;
  cursor: pointer;
  background-color: rgba($color-really-dark-02, 0.6);
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.625em;
  margin: 0;
}

#mainGame #playerStats {
  position: relative;
  display: block;
  width: 100%;
  height: 40px;
}

#mainGame #playerStats #score {
  position: absolute;
  top: 0;
  left: 0.313em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #playerStats #percent {
  position: absolute;
  top: 0;
  right: 0.125em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: $color-light-01;
  line-height: 0.938em;
}

#mainGame #nextStyle {
  position: relative;
  top: 2.125em;
  right: 0;
  width: 74%;
  height: 3.125em;
}

#mainGame #nextStyle #next {
  position: absolute;
  top: -35px;
  right: 20px;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 5.375em;
  height: 2.000em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: lighten($color-really-dark-02, 10%);
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: capitalize;

  &:hover {
    background-color: $color-really-dark-02;
  }
}

a.qBtn {
  float: right;
  font-size: 1.0em;
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  border: 1px solid #555;
  padding: 2px 7px;
  margin-right: 5.000em;
  margin-bottom: 3.125em;
  transition: background-color .5s;
}

a.qBtn:visited, a.qBtn:active {
  background-color: #555;
}

a.qBtn:hover {
  color: #555;
  background-color: rgba(0, 0, 0, 0.3);
}

.disableClick {
  pointer-events: none;
}


#remote {
  display: flex;
  flex-wrap: wrap;
  font-size: 1.4em;
  text-align: center;
  align-items: baseline;
  background-color: $color-really-dark-02;

  #ePrev {
    flex: 25%;
    padding: 0.625em;
    color: #fff;
    text-decoration: none;

  }

  #status {
    color: #fff;
    padding: 0.625em;

  }

  #eNext {
    flex: 25%;
    padding: 0.625em;
    color: #fff;
    text-decoration: none;
  }
}

/* Form CSS */
div#message {
  background-color: $color-medium-01;
  padding: 0 1.250em;
}

form {
  background-color: lighten($color-really-dark-02, 30%);
  padding: 0.938em;

  label {
    color: $color-light-01;
  }

  input[type=text], input[type=tel], input[type=email], input[type="password"], select, textarea {
    width: 100%;
    padding: 0.750em;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.375em;
    margin-bottom: 1em;
    resize: vertical;
  }

  .emailLabel {
    .emailError {
      display: none;
    }
  }

  .text_username {
    .error {
      display: none;
    }
  }

  textarea {
    resize: none;
    height: 12.50em;
  }

  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    text-transform: capitalize;
    border: none;
    border-radius: 0.250em;
    cursor: pointer;
    padding: 0.750em 1.250em;
    margin-top: 0.625em;
  }

  input[type=submit]:hover {
    background-color: #45a049;
  }

  button, a {
    outline: none;
    color: #fff;
    border: none;
    background-color: #4CAF50;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    width: 6.25em;
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: none;
    padding: 0.313em;
    margin: 0.625em;
    transition: background-color .5s;

    &:hover, &:active {
      background-color: darken(#45a049, 15%);
    }
  }

}

/* Footer CSS */
.colophon {
  background-color: lighten($color-really-dark-02, 15%);
  text-align: center;
  border-top: 1px solid hsl(0, 0%, 90%);
  padding: 0.313em;

  p {
    font-family: 'Rubik', sans-serif;
    color: $color-light-01;
  }
}

/* Approximately the size of an iPad 768px */
@supports (grid-area: auto) {

  @media screen and (min-width: 48em) {
    .site {
      display: grid;
      grid-template-columns: 1fr minmax(14.40em, 33.60em);
      grid-template-areas:
				"header header"
				"sidebar nav"
				"sidebar main"
				"footer footer";
      justify-content: center;

    }
    .masthead {
      grid-area: header;
      display: block;
      background-image: url(../images/img-header-001-1024.jpg);
    }
    .nav {
      grid-area: nav;
    }

    .sidebar {
      grid-area: sidebar;
      display: grid;
      grid-template-columns: 12.50em 12.50em;
      grid-template-rows: fit-content(6.250em);
      grid-auto-rows: auto;
      grid-template-areas:
                "info info"
                "external external";
      justify-content: center;
    }

    .info {
      grid-area: info;

      .register {
        font-weight: 400;
        color: darken(#38603D, 35%);

        &:hover {
          color: #38603D;
        }
      }
    }

    .addTriviaInfo {
      grid-area: external;
    }


    .main {
      grid-area: main;
      font-size: 1.2em;
    }
    .colophon {
      grid-area: footer;
    }

    article.cms .byline {
      display: grid;
      grid-template-columns: auto auto auto;
      grid-template-rows: 3.125em 3.125em;
      grid-template-areas:
              "logo title"
              "logo author_style";

      padding: 0;
      margin: 0 0 0.6250em;
    }

    img.logo {
      grid-area: logo;
    }

    h2.title {
      grid-area: title;
      font-size: 1.4em;
      text-align: center;
      font-weight: bold;
    }

    .author_style {
      grid-area: author_style;
      text-align: center;
    }

  }
}


/* Approximately the size of an iPad Pro 12.9in 1024px */
@supports (grid-area: auto) {
  @media screen and (min-width: 64em) {
    .site {
      display: grid;
      grid-template-columns: 1fr minmax(19.2em, 44.80em);
      grid-template-areas:
				"header header"
				"nav nav"
				"sidebar main"
				"footer footer";
      justify-content: center;
    }
    .masthead {
      background-image: url(../images/img-header-001-1024.jpg);
    }

    .registerStyle {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas:
              "email email"
              "first last"
              "screenName telephone"
              "password1 password2"
              "birthday submitForm";
      justify-content: center;
    }

    .first {
      grid-area: first;
      margin: 0 0.625em;
    }

    .last {
      grid-area: last;
      margin: 0 0.625em;
    }

    .screenName {
      grid-area: screenName;
      margin: 0 0.625em;
    }

    .telephone {
      grid-area: telephone;
      margin: 0 0.625em;
    }

    .emailStyle {
      grid-area: email;
      margin: 0 0.625em;
    }

    .password1 {
      grid-area: password1;
      margin: 0.3125em 0.625em;
    }

    .password2 {
      grid-area: password2;
      margin: 0.3125em 0.625em;
    }

    .birthday {
      grid-area: birthday;
      text-transform: capitalize;
      margin: 0.3125em 0.625em;
    }

    .submitForm {
      grid-area: submitForm;

      button {
        float: right;
      }
    }

  }
}

/* Approximately the size of a 1248px large display monitor */
@supports (grid-area: auto) {

  @media screen and (min-width: 78em) {
    .site {
      display: grid;
      grid-template-columns: 1fr minmax(23.4em, 54.6em);
      grid-template-areas:
				"header header"
				"nav nav"
				"sidebar main"
				"footer footer";
      justify-content: center;
      width: 78em;
      margin: 0 auto;
    }
    .masthead {
      background-image: url(../images/img-header-001-1248.jpg);
    }


  }
}



