/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;0,700;1,400&family=Rubik&display=swap");
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

.calendar-container {
  display: none; }

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    .calendar-container {
      display: block; }

    .calendar {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, minmax(2.5em, 1fr));
      grid-template-rows: 1.5625em;
      grid-auto-rows: 1.5625em;
      overflow: auto; }
      .calendar-container {
        margin-left: 1.250em;
        overflow: hidden;
        box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
        border-radius: 0.3125em;
        background: #fff;
        max-width: 37.5em; }
      .calendar-header {
        display: flex;
        justify-content: space-around;
        text-align: center;
        padding: 0.3125em 0;
        background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
        border-bottom: 1px solid rgba(166, 168, 179, 0.12); }
        .calendar-header h1.output-month {
          color: #5085a5;
          font-size: 1.0em;
          font-weight: bold; }
        .calendar-header a {
          text-decoration: none;
          text-transform: capitalize;
          color: #5085a5;
          font-size: 1.0em;
          margin-top: 1.0em; }
          .calendar-header a:hover, .calendar-header a:active {
            color: #4786ff; }

    .day {
      border-bottom: 1px solid rgba(166, 168, 179, 0.12);
      border-right: 1px solid rgba(166, 168, 179, 0.12);
      text-align: right;
      padding: 0.5625em 1.125em;
      letter-spacing: 1px;
      font-size: 0.8em;
      box-sizing: border-box;
      color: #5085a5;
      position: relative;
      pointer-events: none;
      z-index: 1; }
      .day:nth-of-type(7n + 7) {
        border-right: 0; }
      .day:nth-of-type(n + 1):nth-of-type(-n + 7) {
        grid-row: 2; }
      .day:nth-of-type(n + 8):nth-of-type(-n + 14) {
        grid-row: 3; }
      .day:nth-of-type(n + 15):nth-of-type(-n + 21) {
        grid-row: 4; }
      .day:nth-of-type(n + 22):nth-of-type(-n + 28) {
        grid-row: 5; }
      .day:nth-of-type(n + 29):nth-of-type(-n + 35) {
        grid-row: 6; }
      .day:nth-of-type(7n + 1) {
        grid-column: 1/1; }
      .day:nth-of-type(7n + 2) {
        grid-column: 2/2; }
      .day:nth-of-type(7n + 3) {
        grid-column: 3/3; }
      .day:nth-of-type(7n + 4) {
        grid-column: 4/4; }
      .day:nth-of-type(7n + 5) {
        grid-column: 5/5; }
      .day:nth-of-type(7n + 6) {
        grid-column: 6/6; }
      .day:nth-of-type(7n + 7) {
        grid-column: 7/7; }
      .day-name {
        font-size: 0.75em;
        text-transform: uppercase;
        color: #31708e;
        text-align: center;
        border-bottom: 1px solid rgba(166, 168, 179, 0.12);
        line-height: 1.5625em;
        font-weight: 500; }
      .day--disabled {
        color: rgba(152, 160, 166, 0.6);
        background-color: #ffffff;
        background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
        cursor: not-allowed; }
      .day--today {
        background-color: beige; }
      .day--holiday {
        background-color: rgba(0, 128, 0, 0.2); }

    .task {
      border-left-width: 3px;
      padding: 0.25em 0.375em;
      margin: 0.3125em;
      border-left-style: solid;
      font-size: 0.4375em;
      position: relative; }
      .task--warning {
        border-left-color: #fdb44d;
        grid-column: 4 / span 3;
        grid-row: 3;
        background: #fef0db;
        align-self: center;
        color: #fc9b10;
        margin-top: -5px; }
      .task--danger {
        border-left-color: #fa607e;
        grid-column: 2 / span 3;
        grid-row: 3;
        margin-top: 15px;
        background: rgba(253, 197, 208, 0.7);
        align-self: end;
        color: #f8254e; }
      .task--info {
        border-left-color: #4786ff;
        grid-column: 6 / span 2;
        grid-row: 5;
        margin-top: 15px;
        background: rgba(218, 231, 255, 0.7);
        align-self: end;
        color: #0a5eff; }
      .task--primary {
        background: #4786ff;
        border: 0;
        border-radius: 4px;
        grid-column: 3 / span 3;
        grid-row: 4;
        align-self: end;
        color: #fff;
        box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4); }
      .task__detail {
        position: absolute;
        left: 0;
        top: calc(100% + 10px);
        background: #fff;
        border: 1px solid rgba(166, 168, 179, 0.2);
        color: #000;
        padding: 20px;
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
        z-index: 2; }
        .task__detail:after, .task__detail:before {
          bottom: 100%;
          left: 30%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none; }
        .task__detail:before {
          border-bottom-color: rgba(166, 168, 179, 0.2);
          border-width: 8px;
          margin-left: -8px; }
        .task__detail:after {
          border-bottom-color: #fff;
          border-width: 0.1875em;
          margin-left: -0.1875em; }
        .task__detail h2 {
          font-size: 0.469em;
          margin: 0;
          color: #51565d; }
        .task__detail p {
          margin-top: 0.125em;
          font-size: 0.375em;
          margin-bottom: 0;
          font-weight: 500;
          color: rgba(81, 86, 93, 0.7); } } }
.rule-1 {
  value: 3.125em; }

/*--------------------------------------------------------------
Website Color Theme
--------------------------------------------------------------*/
:root {
  --brown: #844D36;
  --dk-blue-gray: #474853;
  --blue: #86B3D1;
  --mauve: #AAA0A0;
  --dk-tan: #8E8268;
  --white: #ffffff; }

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */ }

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
  background-color: #8fc1e3;
  font-size: 1.125em;
  margin: 0; }

/* Trivia Game */
.displayStatus {
  background-color: #31708e;
  color: #f7f9fb;
  padding: 1.250em;
  margin: 1.250em auto; }
  .displayStatus h4 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.4em;
    line-height: 0; }
  .displayStatus p {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    line-height: 1.5; }
  .displayStatus #customBtn {
    display: block;
    height: 1.420em;
    border: none;
    transition: background-color 0.5s ease;
    background-color: #f7f9fb;
    font-family: 'Rubik', sans-serif;
    font-size: 1em;
    color: #31708e;
    text-align: center;
    text-decoration: none;
    padding: 0.938em 1.875em; }
    .displayStatus #customBtn:hover {
      background-color: #d5e0ea; }

#mainGame {
  margin-top: 1.250em; }

#mainGame::after {
  content: ' ';
  display: block;
  clear: both; }

#mainGame #headerStyle h2 {
  font-family: 'Rubik', sans-serif;
  font-size: 0.8em;
  line-height: 0.313em;
  text-align: center;
  color: #fff; }

#mainGame #headerStyle h2 #clock {
  font-size: 1.4em; }

#mainGame #headerStyle h2 #currentQuestion {
  font-size: 1.2em;
  margin-left: 2em; }

#mainGame #headerStyle h2 #totalQuestions {
  font-size: 1.2em; }

#mainGame #triviaSection {
  margin: 0; }

#mainGame #triviaSection #questionBox {
  background-color: #31708e;
  padding: 0.313em 0.625em; }

#mainGame #triviaSection #questionBox h2 {
  font-family: 'Cormorant Garamond', serif;
  font-size: 1.4em;
  line-height: 1.5;
  color: #f7f9fb; }

#mainGame #triviaSection #buttonContainer {
  background-color: #5085a5;
  margin-bottom: 0.625em; }

#mainGame #triviaSection #buttonContainer .answerButton {
  display: block;
  width: 100%;
  height: 3.125em;
  outline: none;
  cursor: pointer;
  background-color: #5085a5;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #f7f9fb;
  text-transform: capitalize;
  text-align: left;
  padding-left: 0.625em;
  margin: 0; }

#mainGame #playerStats {
  position: relative;
  display: block;
  width: 100%;
  height: 40px; }

#mainGame #playerStats #score {
  position: absolute;
  top: 3.125em;
  left: 0.313em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: #f7f9fb;
  line-height: 0.938em; }

#mainGame #playerStats #percent {
  position: absolute;
  top: 3.125em;
  right: 3.125em;
  font-family: 'Rubik', sans-serif;
  font-size: 1.0em;
  color: #f7f9fb;
  line-height: 0.938em; }

#mainGame #nextStyle {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  height: 3.125em; }

#mainGame #nextStyle #next {
  position: absolute;
  top: -35px;
  right: 20px;
  border: none;
  outline: none;
  display: block;
  width: 100%;
  max-width: 9.375em;
  height: 2.500em;
  cursor: pointer;
  transition: background-color 0.5s ease;
  background-color: #81927d;
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #fff;
  text-transform: capitalize; }
  #mainGame #nextStyle #next:hover {
    background-color: #687864; }

a.qBtn {
  float: right;
  font-size: 1.0em;
  text-decoration: none;
  text-transform: capitalize;
  color: #555;
  border: 1px solid #555;
  padding: 2px 7px;
  margin-right: 5.000em;
  margin-bottom: 3.125em;
  transition: background-color .5s; }

a.qBtn:visited, a.qBtn:active {
  background-color: #555; }

a.qBtn:hover {
  color: #555;
  background-color: rgba(0, 0, 0, 0.3); }

.disableClick {
  pointer-events: none; }

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
.shadow {
  -moz-box-shadow: inset 0 0 0.313em #000000;
  -webkit-box-shadow: inset 0 0 0.313em #000000;
  box-shadow: inset 0 0 0.313em #000000; }

.button {
  display: inline-block;
  height: 1.420em;
  border: none;
  transition: background-color 0.5s ease;
  background-color: #4CAF50;
  /* Green */
  font-family: 'Rubik', sans-serif;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0.313em 1.563em;
  font-size: 0.8em; }
  .button:hover {
    background-color: #2d682f; }

p {
  margin: 0; }

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto; }

/* Login Form CSS */
.login {
  padding: 0.313em;
  margin-top: 3.125em; }
  .login .text_username {
    display: flex;
    justify-content: center;
    background-color: #619cc3;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em; }
  .login .io_username {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em; }
  .login .text_password {
    display: flex;
    justify-content: center;
    background-color: #619cc3;
    color: #fff;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em; }
  .login .io_password {
    outline: none;
    border: none;
    background-color: #fef0db;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    padding: 1.250em 3.25em; }
  .login .login_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: #619cc3;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.625em; }
    .login .login_button:hover, .login .login_button:active {
      background-color: #4283af; }

/*--------------------------------------------------------------
Header:
--------------------------------------------------------------*/
.masthead {
  display: flex;
  justify-content: center;
  padding: 1.250em;
  border-bottom: 1px solid #e6e6e6; }
  .masthead img {
    width: 6.250em;
    height: 6.250em;
    margin-right: 1.250em; }
  .masthead h1 {
    font-family: 'Cormorant Garamond', serif;
    font-variant-ligatures: common-ligatures;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    color: #fff; }

/*--------------------------------------------------------------
Navigation:
--------------------------------------------------------------*/
.main-nav {
  padding: 1em;
  font-size: 1.1em;
  color: #f7f9fb;
  background: #393d38;
  background: linear-gradient(90deg, rgba(57, 61, 56, 0.9317927855) 0%, rgba(65, 84, 60, 0.9345939059) 32%, #687864 100%);
  border-radius: 0 0 1.875em 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.375em 1.25em 0 rgba(0, 0, 0, 0.19); }

.trigger {
  display: none;
  padding: .1em .5em;
  color: #f7f9fb;
  background-color: #687864;
  border: none;
  transform: rotate(90deg); }

.trigger:focus,
.trigger:hover {
  outline: 2px dotted #1a1a1a; }

.trigger:focus {
  outline-color: white; }

.main-nav ul {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none; }

.main-nav a {
  display: block;
  padding: .4em 1em;
  color: white;
  text-transform: capitalize;
  text-decoration: none; }

.main-nav a:focus,
.main-nav a:hover {
  text-decoration: underline; }

/* Display Full Page */
.display_record {
  background-color: #f1f1f1;
  padding: 1.250em; }
  .display_record img {
    width: 100%;
    max-width: 50.000em;
    height: 100%; }
  .display_record h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 1.2em;
    color: #555555;
    font-weight: 700;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    line-height: 0; }
  .display_record h6 {
    font-family: 'Cormorant Garamond', serif;
    -webkit-font-smoothing: antialiased;
    font-style: italic;
    color: #555;
    font-size: 1.0em;
    line-height: 0.6; }
  .display_record p {
    font-family: 'Rubik', sans-serif;
    font-variant-ligatures: contextual;
    text-rendering: optimizeLegibility;
    text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    font-size: 1.2em;
    line-height: 1.5;
    color: #555555; }

/* pagination */
.pagination {
  display: flex;
  justify-content: center; }

.pagination .three-dots {
  color: #31708e;
  margin: 0.313em 0.500em; }

.pagination a {
  font-family: 'Rubik', sans-serif;
  font-size: 1.2em;
  color: #31708e;
  text-decoration: none;
  padding-left: 0.313em; }

.pagination a.selected {
  font-weight: bolder;
  color: #687864;
  padding-left: 0.313em; }

/* Trivia Form CSS */
.trivia_form {
  width: 100%;
  margin-top: 2.500em; }
  .trivia_form .question_label, .trivia_form .answer_one_label, .trivia_form .answer_two_label,
  .trivia_form .answer_three_label, .trivia_form .answer_four_label, .trivia_form .correct_answer_label {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em; }
  .trivia_form .question_input {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    height: 25.00em;
    padding: 0.625em; }
  .trivia_form .answer_one_input, .trivia_form .answer_two_input, .trivia_form .answer_three_input, .trivia_form .answer_four_input, .trivia_form .correct_answer_input {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.313em 0.625em; }
  .trivia_form .form_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: var(--blue);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0.625em 13.1em;
    transition: background-color .5s; }
    .trivia_form .form_button:hover, .trivia_form .form_button:active {
      background-color: #619cc3; }

/* Create Form  styling */
.form_classes {
  width: 100%;
  margin-top: 2.500em; }
  .form_classes .form_image_upload_style {
    width: 100%; }
  .form_classes .heading_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em; }
  .form_classes .enter_input_style {
    width: 100%;
    border: none;
    outline: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 0.313em 0.625em; }
  .form_classes .text_label_style {
    width: 100%;
    background-color: #86B3D1;
    color: #fff;
    text-align: center;
    line-height: 3.125em;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    padding: 1.250em 2.500em; }
  .form_classes .text_input_style {
    width: 100%;
    border: none;
    outline: none;
    resize: none;
    background-color: #f2f2f2;
    font-size: 1.2em;
    line-height: 1.5;
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    height: 25.00em;
    padding: 0.625em; }
  .form_classes .delete_button {
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    color: #fff;
    background-color: var(--blue);
    padding: 0.625em 2.500em;
    transition: background-color .5s; }
    .form_classes .delete_button:hover, .form_classes .delete_button:active {
      background-color: #619cc3; }
  .form_classes .form_button {
    outline: none;
    color: #fff;
    border: none;
    background-color: var(--blue);
    box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
    font-family: 'Rubik', sans-serif;
    font-size: 1.2em;
    text-transform: capitalize;
    padding: 0.625em 13.1em;
    transition: background-color .5s; }
    .form_classes .form_button:hover, .form_classes .form_button:active {
      background-color: #619cc3; }
  .form_classes .deleteBtn {
    display: flex;
    justify-content: center;
    text-decoration: none;
    background-color: #86B3D1;
    color: #fff;
    line-height: 3.125em; }
    .form_classes .deleteBtn:hover, .form_classes .deleteBtn:active {
      background-color: #619cc3; }

form#contact {
  display: block;
  width: 100%;
  max-width: 23.4375em;
  height: auto;
  background-color: #f2f2f2;
  padding: 0.938em 1.000em;
  margin: 0 auto; }
  form#contact #message {
    position: relative;
    height: 2.500em;
    padding: 0.125em;
    margin: 0.125em auto; }
    form#contact #message h2 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.8em;
      line-height: 2.500em; }
    form#contact #message a {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2em;
      text-decoration: none;
      color: #555;
      border: 1px solid #555;
      padding: 4px 15px;
      transition: background-color .5s; }
  form#contact fieldset {
    border: none;
    padding: 0.313em;
    margin-bottom: 0.313em; }
  form#contact legend {
    display: none;
    font-size: 1.0em;
    color: #555;
    padding: 0 0.313em; }
  form#contact label.labelstyle {
    clear: left;
    float: left;
    display: block;
    width: 250px;
    height: 1.500em;
    font-size: 1.2em;
    line-height: 1.250em;
    color: #555;
    text-transform: capitalize;
    padding: 0.125em 0; }
  form#contact input {
    clear: right;
    width: 17.50em;
    height: 2.500em;
    border: 2px solid #555;
    outline: none;
    font-size: 1.0em;
    color: #555;
    padding-left: 0.313em;
    margin-bottom: 0.625em; }
  form#contact #radio-toolbar {
    margin: 30px 10px 0px 10px; }
    form#contact #radio-toolbar input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0; }
    form#contact #radio-toolbar label {
      display: inline-block;
      background-color: #f2f2f2;
      padding: 10px 20px;
      text-transform: capitalize;
      font-size: 1em;
      color: #4C9CF1;
      border: 2px solid #555;
      border-radius: 4px; }
    form#contact #radio-toolbar label:hover label:hover {
      background-color: #dfd; }
    form#contact #radio-toolbar input[type="radio"]:focus + label {
      border: 2px dashed #ccc; }
    form#contact #radio-toolbar input[type="radio"]:checked + label {
      background-color: #fff;
      border-color: #fff;
      color: #555; }
  form#contact p {
    margin: 0 0 1em 0; }
  form#contact .textareaLabel {
    clear: both;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-top: 10px; }
  form#contact textarea {
    border: 2px solid #555;
    outline: none;
    resize: none;
    width: 100%;
    max-width: 18.00em;
    height: 25.000em;
    color: #555;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
    padding: 0.625em 0.313em;
    margin-bottom: 1.250em; }
  form#contact input[type=submit] {
    cursor: pointer;
    clear: both;
    border: none;
    outline: none;
    float: none;
    display: block;
    width: 6.500em;
    height: 2.500em;
    background-color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: none;
    color: #555;
    border: 1px solid #555;
    padding: 4px 15px;
    transition: background-color .5s;
    margin: 0.625em auto; }
    form#contact input[type=submit]:hover {
      background-color: rgba(0, 0, 0, 0.3); }

@media screen and (min-width: 75em) {
  form#contact {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    padding: 0.938em 1.250em;
    margin: 1.250em auto; }
    form#contact #message {
      position: relative;
      height: 50px;
      padding: 10px;
      margin: 10px auto; }
      form#contact #message h2 {
        display: none;
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1.2em;
        line-height: 50px; }
      form#contact #message a {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        text-decoration: none;
        color: #555;
        border: 1px solid #555;
        padding: 4px 15px;
        transition: background-color .5s; }
    form#contact fieldset {
      border: 0.125em solid #555;
      padding: 0.938em;
      margin-bottom: 0.625em; }
    form#contact legend {
      display: inline-block;
      font-size: 1.2em;
      color: #555;
      padding: 0 0.313em; }
    form#contact label.labelstyle {
      clear: left;
      float: left;
      display: block;
      width: 250px;
      height: 2.500em;
      font-size: 1.2em;
      line-height: 1.250em;
      color: #555;
      text-transform: capitalize;
      padding: 0.125em 0; }
    form#contact input {
      clear: right;
      width: 19.688em;
      height: 40px;
      border: 2px solid #555;
      outline: none;
      font-size: 1.0em;
      color: #555;
      padding-left: 0.313em;
      margin-bottom: 0.625em; }
    form#contact #radio-toolbar {
      margin: 30px 10px 0px 10px; }
      form#contact #radio-toolbar input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0; }
      form#contact #radio-toolbar label {
        display: inline-block;
        background-color: #f2f2f2;
        padding: 10px 20px;
        text-transform: capitalize;
        font-size: 1em;
        color: #4C9CF1;
        border: 2px solid #555;
        border-radius: 4px; }
      form#contact #radio-toolbar label:hover label:hover {
        background-color: #dfd; }
      form#contact #radio-toolbar input[type="radio"]:focus + label {
        border: 2px dashed #ccc; }
      form#contact #radio-toolbar input[type="radio"]:checked + label {
        background-color: #fff;
        border-color: #fff;
        color: #555; }
    form#contact p {
      margin: 0 0 1em 0; }
    form#contact .textareaLabel {
      clear: both;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      line-height: 1.5;
      color: #555;
      margin-top: 10px; }
    form#contact textarea {
      border: 2px solid #555;
      outline: none;
      resize: none;
      width: 100%;
      max-width: 100%;
      height: 25.000em;
      color: #555;
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0em;
      line-height: 1.5;
      padding: 0.625em 0.313em;
      margin-bottom: 1.250em; }
    form#contact input[type=submit] {
      cursor: pointer;
      clear: both;
      border: none;
      outline: none;
      float: right;
      display: block;
      width: 6.500em;
      height: 2.500em;
      background-color: #fff;
      font-size: 1.2em;
      text-transform: capitalize;
      text-decoration: none;
      color: #555;
      border: 1px solid #555;
      padding: 4px 15px;
      transition: background-color .5s; }
      form#contact input[type=submit]:hover {
        background-color: rgba(0, 0, 0, 0.3); } }
/* Sidebar CSS */
.twin {
  padding: 0.313em;
  color: white; }

/* CSS for Listings of Blogs/Threads */
.cards {
  padding: 1.250em;
  list-style-type: none; }

.card {
  background-color: #31708e;
  margin-bottom: 1em; }

.card a {
  color: #f7f9fb;
  text-decoration: none;
  border: 1px transparent;
  transition: all .2s; }
  .card a .thumb {
    width: 100%; }
  .card a .cms_heading {
    padding: 0 0.625em; }
    .card a .cms_heading h2 {
      font-family: 'Cormorant Garamond', serif;
      line-height: .313em;
      font-size: 1.2em; }
    .card a .cms_heading p.byline {
      font-family: 'Rubik', sans-serif;
      font-size: 0.6em;
      font-style: italic;
      font-weight: bold;
      padding-bottom: 0.313em; }
  .card a .cms_content {
    font-family: 'Rubik', sans-serif;
    font-size: 1.0em;
    line-height: 1.8;
    padding: 0 0.625em; }
  .card a:focus, .card a:hover {
    margin: -0.313em 0.313em 0.313em -0.313em;
    box-shadow: 0.313em 0.313em 0 0 rgba(77, 77, 77, 0.4); }

/* Footer CSS */
.colophon {
  background-color: #687864;
  text-align: center;
  margin-top: 6.250em;
  border-top: 1px solid #e6e6e6;
  padding: 0.313em; }
  .colophon p {
    font-family: 'Rubik', sans-serif;
    color: #f7f9fb; }

/*--------------------------------------------------------------
CSS Grid layout for wider screens, when browser supports grid:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 27em) {
    /* Main Site Grid with sliding navigation */
    .site {
      position: relative;
      left: -14em;
      overflow-x: hidden;
      display: grid;
      grid-template-columns: 15em calc(100% - 1em) 15em;
      grid-template-areas: "nav header header" "nav main sidebar" "nav main sidebar" "footer footer footer";
      transition: left .6s; }

    .reveal {
      left: 0; }

    .masthead {
      grid-area: header; }

    .main-area {
      grid-area: main; }

    .sidebar {
      grid-area: sidebar; }

    .colophon {
      grid-area: footer; }

    .main-nav {
      grid-area: nav; }

    .main-nav ul {
      position: fixed;
      display: none;
      flex-direction: column; }

    .open ul {
      display: flex; }

    .trigger {
      position: fixed;
      display: block;
      top: 1.5em;
      left: -0.9em;
      transition: left .6s; }

    .reveal .trigger {
      left: 12em; } } }
@media screen and (min-width: 60em) {
  /* Cards Grid */
  .cards {
    width: 60em;
    padding: 0;
    margin: 1.250em auto; }

  .card a {
    display: grid;
    grid-template-columns: fit-content(18.5em) 1fr;
    grid-template-areas: "thumbnail heading" "thumbnail content";
    justify-content: space-around; }

  .thumb {
    grid-area: thumbnail; }

  .cms_heading {
    grid-area: heading;
    font-size: 1.4em; }
    .cms_heading p.byline {
      font-size: 1.0em; }

  .cms_content {
    grid-area: content; }

  /* Full Page Grid */
  .display_record {
    display: grid;
    grid-template-columns: fit-content(60em);
    grid-template-areas: "image" "heading" "sub-heading" "paragraph";
    justify-content: space-around;
    background-color: #f1f1f1;
    width: 50em;
    margin: 1.250em auto; }
    .display_record img {
      grid-area: image; }
    .display_record h3 {
      grid-area: heading;
      font-size: 2.2em;
      margin: 0.8em 0 0.4em; }
    .display_record h6 {
      grid-area: sub-heading;
      font-size: 1.2em;
      margin: 0.8em 0; }
    .display_record p {
      grid-area: paragraph; }

  /* Login Form Grid */
  .login {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-template-rows: 3.125em 3.125em 3.125em;
    grid-template-areas: "user_label user_io" "password_label password_io" "login_button login_button";
    grid-gap: 1.250em;
    justify-content: center; }

  .text_username {
    grid-area: user_label; }

  .io_username {
    grid-area: user_io; }

  .text_password {
    grid-area: password_label; }

  .io_password {
    grid-area: password_io; }

  .login_button {
    grid-area: login_button; }

  /* trivia grid styling */
  .trivia_form {
    display: grid;
    grid-template-columns: 18.5em 37em;
    grid-auto-rows: auto;
    grid-template-areas: "question_label question_textarea" "answer1_label answer1_input" "answer2_label answer2_input" "answer3_label answer3_input" "answer4_label answer4_input" "correct_label correct_input" "form_button form_button";
    grid-gap: 1.250em;
    justify-content: center;
    overflow: hidden; }
    .trivia_form .question_label {
      grid-area: question_label;
      padding: 0; }
    .trivia_form .question_input {
      grid-area: question_textarea; }
    .trivia_form .answer_one_label {
      grid-area: answer1_label;
      padding: 0; }
    .trivia_form .answer_one_input {
      grid-area: answer1_input; }
    .trivia_form .answer_two_label {
      grid-area: answer2_label;
      padding: 0; }
    .trivia_form .answer_two_input {
      grid-area: answer2_input; }
    .trivia_form .answer_three_label {
      grid-area: answer3_label;
      padding: 0; }
    .trivia_form .answer_three_input {
      grid-area: answer3_input; }
    .trivia_form .answer_four_label {
      grid-area: answer4_label;
      padding: 0; }
    .trivia_form .answer_four_input {
      grid-area: answer4_input; }
    .trivia_form .correct_answer_label {
      grid-area: correct_label;
      padding: 0; }
    .trivia_form .correct_answer_input {
      grid-area: correct_input; }
    .trivia_form .form_button {
      grid-area: form_button;
      display: flex;
      justify-content: space-evenly;
      margin: 0 auto;
      width: 50%; }

  /* form grid styling */
  .form_classes {
    display: grid;
    grid-template-columns: 18.5em 30em;
    grid-auto-rows: auto;
    grid-template-areas: "upload upload" "heading heading_input" "content_label content" "delete form_button";
    grid-gap: 1.250em;
    justify-content: center;
    overflow: hidden; }
    .form_classes .form_image_upload_style {
      grid-area: upload; }
    .form_classes .heading_label_style {
      grid-area: heading;
      padding: 0; }
    .form_classes .enter_input_style {
      grid-area: heading_input; }
    .form_classes .text_label_style {
      grid-area: content_label;
      padding: 0; }
    .form_classes .text_input_style {
      grid-area: content; }
    .form_classes .delete_button {
      grid-area: delete; }
    .form_classes .form_button {
      grid-area: form_button; }

  /* Display Info for Trivia Game*/
  .displayStatus {
    display: grid;
    grid-template-columns: fit-content(60em);
    grid-template-areas: "start" "title" "info";
    justify-content: space-around;
    width: 31.25em; }

  .startBtn {
    grid-area: start; }

  .displayTitle {
    grid-area: title; }

  .triviaInfo {
    grid-area: info; }

  /* Trivia Game Grid */
  #mainGame {
    display: grid;
    grid-template-columns: fit-content(50em);
    grid-template-areas: "header" "game" "stats" "next";
    justify-content: space-around; }

  #headerStyle {
    grid-area: header; }

  #triviaSection {
    grid-area: game; }

  #playerStats {
    grid-area: stats; }

  #nextStyle {
    grid-area: next; } }
@media screen and (min-width: 78em) {
  .site {
    grid-template-columns: 15em calc(100% - 16em) 15em;
    grid-template-areas: "nav header header" "nav main sidebar" "footer footer footer"; } }

/*# sourceMappingURL=stylesheet.css.map */
