/*--------------------------------------------------------------
CSS Reset
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type=checkbox],
input[type=radio] {
  box-sizing: border-box;
  padding: 0;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  height: auto;
}

input[type=search] {
  -webkit-appearance: textfield;
  box-sizing: content-box;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.rule-1 {
  value: 3.125em;
}

/*--------------------------------------------------------------
Website Color Theme
--------------------------------------------------------------*/
:root {
  --brown: #844D36;
  --dk-blue-gray: #474853;
  --blue: #86B3D1;
  --mauve: #AAA0A0;
  --dk-tan: #8E8268;
  --white: #ffffff;
}

/*--------------------------------------------------------------
Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers */
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar */
}

/*--------------------------------------------------------------
Typography
--------------------------------------------------------------*/
body {
  font-size: 1.125em;
  margin: 0;
}

/*--------------------------------------------------------------
General styling
--------------------------------------------------------------*/
.calendar {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(7, minmax(2.5em, 1fr));
  grid-template-rows: 1.5625em;
  grid-auto-rows: 1.5625em;
  overflow: auto;
}
.calendar-container {
  width: 100%;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
  border-radius: 0.3125em;
  background: #fff;
  max-width: 37.5em;
}
.calendar-header {
  display: flex;
  justify-content: space-around;
  text-align: center;
  padding: 0.3125em 0;
  background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
}
.calendar-header h1 {
  font-size: 0.6em;
  color: rgba(81, 86, 93, 0.9);
  font-weight: normal;
}
.calendar-header a {
  text-decoration: none;
  text-transform: capitalize;
  color: #99a1a7;
  font-size: 0.6em;
  margin-top: 1em;
}
.calendar-header a:hover, .calendar-header a:active {
  color: #4786ff;
}

.day {
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  border-right: 1px solid rgba(166, 168, 179, 0.12);
  text-align: right;
  padding: 0.5625em 1.125em;
  letter-spacing: 1px;
  font-size: 0.375em;
  box-sizing: border-box;
  color: #98a0a6;
  position: relative;
  pointer-events: none;
  z-index: 1;
}
.day:nth-of-type(7n + 7) {
  border-right: 0;
}
.day:nth-of-type(n + 1):nth-of-type(-n + 7) {
  grid-row: 2;
}
.day:nth-of-type(n + 8):nth-of-type(-n + 14) {
  grid-row: 3;
}
.day:nth-of-type(n + 15):nth-of-type(-n + 21) {
  grid-row: 4;
}
.day:nth-of-type(n + 22):nth-of-type(-n + 28) {
  grid-row: 5;
}
.day:nth-of-type(n + 29):nth-of-type(-n + 35) {
  grid-row: 6;
}
.day:nth-of-type(7n + 1) {
  grid-column: 1/1;
}
.day:nth-of-type(7n + 2) {
  grid-column: 2/2;
}
.day:nth-of-type(7n + 3) {
  grid-column: 3/3;
}
.day:nth-of-type(7n + 4) {
  grid-column: 4/4;
}
.day:nth-of-type(7n + 5) {
  grid-column: 5/5;
}
.day:nth-of-type(7n + 6) {
  grid-column: 6/6;
}
.day:nth-of-type(7n + 7) {
  grid-column: 7/7;
}
.day-name {
  font-size: 0.75em;
  text-transform: uppercase;
  color: #99a1a7;
  text-align: center;
  border-bottom: 1px solid rgba(166, 168, 179, 0.12);
  line-height: 1.5625em;
  font-weight: 500;
}
.day--disabled {
  color: rgba(152, 160, 166, 0.6);
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
  cursor: not-allowed;
}
.day--today {
  background-color: beige;
}
.day--holiday {
  background-color: rgba(0, 128, 0, 0.2);
}

.task {
  border-left-width: 3px;
  padding: 0.25em 0.375em;
  margin: 0.3125em;
  border-left-style: solid;
  font-size: 0.4375em;
  position: relative;
}
.task--warning {
  border-left-color: #fdb44d;
  grid-column: 4/span 3;
  grid-row: 3;
  background: #fef0db;
  align-self: center;
  color: #fc9b10;
  margin-top: -5px;
}
.task--danger {
  border-left-color: #fa607e;
  grid-column: 2/span 3;
  grid-row: 3;
  margin-top: 15px;
  background: rgba(253, 197, 208, 0.7);
  align-self: end;
  color: #f8254e;
}
.task--info {
  border-left-color: #4786ff;
  grid-column: 6/span 2;
  grid-row: 5;
  margin-top: 15px;
  background: rgba(218, 231, 255, 0.7);
  align-self: end;
  color: #0a5eff;
}
.task--primary {
  background: #4786ff;
  border: 0;
  border-radius: 4px;
  grid-column: 3/span 3;
  grid-row: 4;
  align-self: end;
  color: #fff;
  box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
}
.task__detail {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  background: #fff;
  border: 1px solid rgba(166, 168, 179, 0.2);
  color: #000;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
  z-index: 2;
}
.task__detail:after, .task__detail:before {
  bottom: 100%;
  left: 30%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.task__detail:before {
  border-bottom-color: rgba(166, 168, 179, 0.2);
  border-width: 8px;
  margin-left: -8px;
}
.task__detail:after {
  border-bottom-color: #fff;
  border-width: 0.1875em;
  margin-left: -0.1875em;
}
.task__detail h2 {
  font-size: 0.469em;
  margin: 0;
  color: #51565d;
}
.task__detail p {
  margin-top: 0.125em;
  font-size: 0.375em;
  margin-bottom: 0;
  font-weight: 500;
  color: rgba(81, 86, 93, 0.7);
}

.shadow {
  -moz-box-shadow: inset 0 0 0.313em #000000;
  -webkit-box-shadow: inset 0 0 0.313em #000000;
  box-shadow: inset 0 0 0.313em #000000;
}

p {
  margin: 0;
}

img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}

.login {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 3.125em;
  grid-gap: 0.313em;
  padding: 0.313em;
}
.login label.username {
  grid-column: 1/2;
  grid-row: 1/2;
  background-color: #86B3D1;
  color: #fff;
  text-align: center;
  line-height: 3.125em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  padding: 0.313em;
}
.login label.password {
  grid-column: 1/2;
  grid-row: 2/3;
  background-color: #86B3D1;
  color: #fff;
  text-align: center;
  line-height: 3.125em;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  padding: 0.313em;
}
.login #username, .login #password {
  outline: none;
  border: none;
  background-color: #fef0db;
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
  font-size: 1.2em;
  padding: 0.313em;
}
.login button {
  grid-column: 1/3;
  grid-row: 3/4;
  outline: none;
  color: #fff;
  border: none;
  background-color: var(--blue);
  box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.5);
}
.login button:hover, .login button:active {
  background-color: var(--dk-blue-gray);
}

.sidebar {
  background: var(--mauve);
  padding: 0.625em;
}

.navigation {
  background-color: var(--dk-blue-gray);
}

/*--------------------------------------------------------------
Navigation Menu Styling
--------------------------------------------------------------*/
ul.topNav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

ul.topNav li {
  float: left;
}

ul.topNav li a {
  display: block;
  color: white;
  text-align: center;
  text-transform: capitalize;
  padding: 0.875em 1em;
  text-decoration: none;
}

ul.topNav li a:hover:not(.active) {
  background-color: #111;
}

ul.topNav li a.active {
  background-color: #4CAF50;
}

ul.topNav li.right {
  float: right;
}

@media screen and (max-width: 37em) {
  ul.topNav li.right,
ul.topNav li {
    float: none;
  }

  ul.topNav li a {
    text-align: left;
  }
}
.mainStyle {
  color: #555;
}
.mainStyle h1 {
  text-align: left;
}

.cmsEditor {
  width: 100%;
}
.cmsEditor fieldset {
  border: 0.125em solid #000;
  padding: 0.313em;
  margin-bottom: 0.625em;
}
.cmsEditor fieldset legend {
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-size: 1.4em;
  color: #000;
  padding: 0 0.313em;
}
.cmsEditor fieldset label.heading {
  clear: left;
  float: left;
  display: block;
  width: 6.25em;
  height: 2.5em;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  color: #000;
  text-transform: capitalize;
  padding: 0.125em 0 0 0;
}
.cmsEditor fieldset input.headingInput {
  clear: right;
  display: block;
  width: 70%;
  height: 1.875em;
  border: none;
  outline: none;
  background-color: #fef0db;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  color: #2e2e2e;
  padding: 0 0.313em;
  margin-bottom: 0.625em;
}
.cmsEditor fieldset label.content {
  clear: both;
  float: left;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.2em;
  line-height: 1.5;
  color: #000;
}
.cmsEditor textarea.contentTextarea {
  border: none;
  outline: none;
  resize: none;
  width: 70%;
  max-width: 100%;
  height: 12.5em;
  background-color: #fef0db;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  line-height: 1.5;
  padding: 0.625em 0.313em;
  margin-top: 0.125em;
}
.cmsEditor input.submitBtn {
  cursor: pointer;
  clear: both;
  border: none;
  outline: none;
  float: right;
  display: block;
  width: 6.5em;
  height: 2.5em;
  background-color: #000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  text-align: center;
  text-transform: capitalize;
  color: #fff;
  margin-top: 0.625em;
  margin-right: 0.625em;
}

footer {
  padding: 0.313em;
  text-align: center;
  background-color: var(--dk-blue-gray);
}
footer p {
  color: #fff;
}

/* CMS Threads */
.cmsThreads {
  display: block;
  width: 100%;
  height: 50em;
  background-color: #fff;
}
.cmsThreads .display {
  padding: 1.25em;
}
.cmsThreads .display h3, .cmsThreads .display h4 {
  font-size: 1em;
  line-height: 1;
}
.cmsThreads .display p {
  font-size: 1em;
  line-height: 1.5;
}

@media screen and (min-width: 50em) {
  @supports (display: flex) {
    .twoBoxes {
      display: flex;
      justify-content: space-evenly;
      background-color: #fff;
    }
    .twoBoxes .box {
      display: block;
      width: 100%;
      max-width: 37em;
      height: auto;
      background-color: #fff;
      padding: 1.25em;
      margin: 0.625em;
    }
    .twoBoxes .box .calendar {
      display: grid;
      width: 100%;
      grid-template-columns: repeat(7, minmax(5em, 1fr));
      grid-template-rows: 3.125em;
      grid-auto-rows: 3.125em;
      overflow: auto;
    }
    .twoBoxes .box .calendar-container {
      width: 100%;
      margin: auto;
      overflow: hidden;
      box-shadow: 0 0.125em 0.125em rgba(0, 0, 0, 0.1);
      border-radius: 0.625em;
      background: #fff;
      max-width: 75em;
    }
    .twoBoxes .box .calendar-header {
      display: flex;
      justify-content: space-around;
      text-align: center;
      padding: 0.625em 0;
      background: linear-gradient(to bottom, #fafbfd 0%, rgba(255, 255, 255, 0) 100%);
      border-bottom: 1px solid rgba(166, 168, 179, 0.12);
    }
    .twoBoxes .box .calendar-header h1 {
      font-size: 1.2em;
      color: rgba(81, 86, 93, 0.9);
      font-weight: normal;
    }
    .twoBoxes .box .calendar-header a {
      text-decoration: none;
      text-transform: capitalize;
      color: #99a1a7;
      font-size: 1.2em;
      margin-top: 1em;
    }
    .twoBoxes .box .calendar-header a:hover, .twoBoxes .box .calendar-header a:active {
      color: #4786ff;
    }
    .twoBoxes .box .day {
      border-bottom: 1px solid rgba(166, 168, 179, 0.12);
      border-right: 1px solid rgba(166, 168, 179, 0.12);
      text-align: right;
      padding: 1.125em 2.25em;
      letter-spacing: 1px;
      font-size: 0.75em;
      box-sizing: border-box;
      color: #98a0a6;
      position: relative;
      pointer-events: none;
      z-index: 1;
    }
    .twoBoxes .box .day:nth-of-type(7n + 7) {
      border-right: 0;
    }
    .twoBoxes .box .day:nth-of-type(n + 1):nth-of-type(-n + 7) {
      grid-row: 2;
    }
    .twoBoxes .box .day:nth-of-type(n + 8):nth-of-type(-n + 14) {
      grid-row: 3;
    }
    .twoBoxes .box .day:nth-of-type(n + 15):nth-of-type(-n + 21) {
      grid-row: 4;
    }
    .twoBoxes .box .day:nth-of-type(n + 22):nth-of-type(-n + 28) {
      grid-row: 5;
    }
    .twoBoxes .box .day:nth-of-type(n + 29):nth-of-type(-n + 35) {
      grid-row: 6;
    }
    .twoBoxes .box .day:nth-of-type(7n + 1) {
      grid-column: 1/1;
    }
    .twoBoxes .box .day:nth-of-type(7n + 2) {
      grid-column: 2/2;
    }
    .twoBoxes .box .day:nth-of-type(7n + 3) {
      grid-column: 3/3;
    }
    .twoBoxes .box .day:nth-of-type(7n + 4) {
      grid-column: 4/4;
    }
    .twoBoxes .box .day:nth-of-type(7n + 5) {
      grid-column: 5/5;
    }
    .twoBoxes .box .day:nth-of-type(7n + 6) {
      grid-column: 6/6;
    }
    .twoBoxes .box .day:nth-of-type(7n + 7) {
      grid-column: 7/7;
    }
    .twoBoxes .box .day-name {
      font-size: 0.75em;
      text-transform: uppercase;
      color: #99a1a7;
      text-align: center;
      border-bottom: 1px solid rgba(166, 168, 179, 0.12);
      line-height: 3.125em;
      font-weight: 500;
    }
    .twoBoxes .box .day--disabled {
      color: rgba(152, 160, 166, 0.6);
      background-color: #ffffff;
      background-image: url("data:image/svg+xml,%3Csvg width='40' height='40' viewBox='0 0 40 40' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23f9f9fa' fill-opacity='1' fill-rule='evenodd'%3E%3Cpath d='M0 40L40 0H20L0 20M40 40V20L20 40'/%3E%3C/g%3E%3C/svg%3E");
      cursor: not-allowed;
    }
    .twoBoxes .box .day--today {
      background-color: beige;
    }
    .twoBoxes .box .day--holiday {
      background-color: rgba(0, 128, 0, 0.2);
    }
    .twoBoxes .box .task {
      border-left-width: 3px;
      padding: 0.5em 0.75em;
      margin: 0.625em;
      border-left-style: solid;
      font-size: 0.875em;
      position: relative;
    }
    .twoBoxes .box .task--warning {
      border-left-color: #fdb44d;
      grid-column: 4/span 3;
      grid-row: 3;
      background: #fef0db;
      align-self: center;
      color: #fc9b10;
      margin-top: -5px;
    }
    .twoBoxes .box .task--danger {
      border-left-color: #fa607e;
      grid-column: 2/span 3;
      grid-row: 3;
      margin-top: 15px;
      background: rgba(253, 197, 208, 0.7);
      align-self: end;
      color: #f8254e;
    }
    .twoBoxes .box .task--info {
      border-left-color: #4786ff;
      grid-column: 6/span 2;
      grid-row: 5;
      margin-top: 15px;
      background: rgba(218, 231, 255, 0.7);
      align-self: end;
      color: #0a5eff;
    }
    .twoBoxes .box .task--primary {
      background: #4786ff;
      border: 0;
      border-radius: 4px;
      grid-column: 3/span 3;
      grid-row: 4;
      align-self: end;
      color: #fff;
      box-shadow: 0 10px 14px rgba(71, 134, 255, 0.4);
    }
    .twoBoxes .box .task__detail {
      position: absolute;
      left: 0;
      top: calc(100% + 10px);
      background: #fff;
      border: 1px solid rgba(166, 168, 179, 0.2);
      color: #000;
      padding: 20px;
      box-sizing: border-box;
      border-radius: 4px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.08);
      z-index: 2;
    }
    .twoBoxes .box .task__detail:after, .twoBoxes .box .task__detail:before {
      bottom: 100%;
      left: 30%;
      border: solid transparent;
      content: " ";
      height: 0;
      width: 0;
      position: absolute;
      pointer-events: none;
    }
    .twoBoxes .box .task__detail:before {
      border-bottom-color: rgba(166, 168, 179, 0.2);
      border-width: 8px;
      margin-left: -8px;
    }
    .twoBoxes .box .task__detail:after {
      border-bottom-color: #fff;
      border-width: 0.375em;
      margin-left: -0.375em;
    }
    .twoBoxes .box .task__detail h2 {
      font-size: 0.938em;
      margin: 0;
      color: #51565d;
    }
    .twoBoxes .box .task__detail p {
      margin-top: 0.25em;
      font-size: 0.75em;
      margin-bottom: 0;
      font-weight: 500;
      color: rgba(81, 86, 93, 0.7);
    }
    .twoBoxes .box h1, .twoBoxes .box p {
      color: var(--dk-blue-gray);
    }
    .twoBoxes .box h1 {
      line-height: 1;
    }
    .twoBoxes .box p {
      font-size: 1.2em;
    }
    .twoBoxes .dkBlueGray {
      background-color: var(--dk-blue-gray);
    }
  }
}
/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/
.site {
  background-color: var(--blue);
  max-width: 75em;
  margin: 0 auto;
}

/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  @media screen and (min-width: 75em) {
    .site {
      max-width: none;
      display: grid;
      grid-template-columns: 1fr auto 1fr;
      grid-template-rows: auto;
      grid-gap: 0;
    }

    .mainArea {
      grid-column: 2/3;
      display: grid;
      grid-template-columns: 25em repeat(2, 37em);
      grid-template-rows: fit-content(25em) fit-content(1fr) 50em fit-content(3.125em);
      justify-content: space-evenly;
      justify-items: auto;
      grid-gap: 1.25em;
      margin: 0;
    }

    .navigation {
      grid-column: 1/2;
      grid-row: 1/2;
      display: flex;
      justify-content: center;
    }

    .headerStyle {
      grid-column: 2/4;
      grid-row: 1/2;
      padding: 0;
      margin: 0;
    }

    .sidebar {
      grid-column: 1/2;
      grid-row: 2/3;
    }

    .mainStyle {
      grid-column: 2/4;
      grid-row: 2/3;
    }

    .contentContainer {
      grid-column: 1/4;
      grid-row: 3/4;
      background-color: #fff;
      display: flex;
      justify-content: center;
    }

    .footerStyle {
      grid-column: 1/4;
      grid-row: 4/5;
      justify-items: auto;
    }
  }
}

/*# sourceMappingURL=stylesheet.css.map */
