form#contact {
  display: block;
  width: 100%;
  max-width: 23.4375em;
  height: auto;
  background-color: #f2f2f2;
  padding: 0.938em 1.000em;
  margin: 0 auto;
  #message {
    position: relative;
    height: 2.500em;
    padding: 0.125em;
    margin: 0.125em auto;
    h2 {
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      font-size: 0.8em;
      line-height: 2.500em;
    }
    a {
      display: none;
      position: absolute;
      top: 10px;
      right: 10px;
      font-size: 1.2em;
      text-decoration: none;
      color: #555;
      border: 1px solid #555;
      padding: 4px 15px;
      transition: background-color .5s;
    }
  }
  fieldset {
    border: none;
    padding: 0.313em;
    margin-bottom: 0.313em;
  }
  legend {
    display: none;
    font-size: 1.0em;
    color: #555;
    padding: 0 0.313em;
  }
  label.labelstyle {
    clear: left;
    float: left;
    display: block;
    width: 250px;
    height: 1.500em;
    font-size: 1.2em;
    line-height: 1.250em;
    color: #555;
    text-transform: capitalize;
    padding: 0.125em 0;
  }
  input {
    clear: right;
    width: 17.50em;
    height: 2.500em;
    border: 2px solid #555;
    outline: none;
    font-size: 1.0em;
    color: #555;
    padding-left: 0.313em;
    margin-bottom: 0.625em;
  }

  #radio-toolbar {
    margin: 30px 10px 0px 10px;
    input[type="radio"] {
      opacity: 0;
      position: fixed;
      width: 0;
    }
    label {
      display: inline-block;
      background-color: #f2f2f2;
      padding: 10px 20px;
      text-transform: capitalize;
      font-size: 1em;
      color: #4C9CF1;
      border: 2px solid #555;
      border-radius: 4px;
    }
    label:hover label:hover {
      background-color: #dfd;
    }
    input[type="radio"]:focus + label {
      border: 2px dashed #ccc;
    }
    input[type="radio"]:checked + label {
      background-color: #fff;
      border-color: #fff;
      color: #555;
    }

  }

  p {
    margin: 0 0 1em 0;
  }

  .textareaLabel {
    clear: both;
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    line-height: 1.5;
    color: #555;
    margin-top: 10px;
  }

  textarea {
    border: 2px solid #555;
    outline: none;
    resize: none;
    width: 100%;
    max-width: 18.00em;
    height: 25.000em;
    color: #555;
    background-color: #fff;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.0em;
    line-height: 1.5;
    padding: 0.625em 0.313em;
    margin-bottom: 1.250em;
  }

  input[type=submit] {
    cursor: pointer;
    clear: both;
    border: none;
    outline: none;
    float: none;
    display: block;
    width: 6.500em;
    height: 2.500em;
    background-color: #fff;
    font-size: 1.2em;
    text-transform: capitalize;
    text-decoration: none;
    color: #555;
    border: 1px solid #555;
    padding: 4px 15px;
    transition: background-color .5s;
    margin: 0.625em auto;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}


@media screen and (min-width: 75em) {
  form#contact {
    display: block;
    width: 100%;
    max-width: 1000px;
    height: auto;
    background-color: #f2f2f2;
    box-shadow: 4px 4px 2px rgba(0, 0, 0, 0.5);
    padding: 0.938em 1.250em;
    margin: 1.250em auto;
    #message {
      position: relative;
      height: 50px;
      padding: 10px;
      margin: 10px auto;
      h2 {
        display: none;
        position: absolute;
        top: 0;
        left: 10px;
        font-size: 1.2em;
        line-height: 50px;
      }
      a {
        display: none;
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 1.2em;
        text-decoration: none;
        color: #555;
        border: 1px solid #555;
        padding: 4px 15px;
        transition: background-color .5s;
      }
    }
    fieldset {
      border: 0.125em solid #555;
      padding: 0.938em;
      margin-bottom: 0.625em;
    }
    legend {
      display: inline-block;
      font-size: 1.2em;
      color: #555;
      padding: 0 0.313em;
    }
    label.labelstyle {
      clear: left;
      float: left;
      display: block;
      width: 250px;
      height: 2.500em;
      font-size: 1.2em;
      line-height: 1.250em;
      color: #555;
      text-transform: capitalize;
      padding: 0.125em 0;
    }
    input {
      clear: right;
      width: 19.688em;
      height: 40px;
      border: 2px solid #555;
      outline: none;
      font-size: 1.0em;
      color: #555;
      padding-left: 0.313em;
      margin-bottom: 0.625em;
    }

    #radio-toolbar {
      margin: 30px 10px 0px 10px;
      input[type="radio"] {
        opacity: 0;
        position: fixed;
        width: 0;
      }
      label {
        display: inline-block;
        background-color: #f2f2f2;
        padding: 10px 20px;
        text-transform: capitalize;
        font-size: 1em;
        color: #4C9CF1;
        border: 2px solid #555;
        border-radius: 4px;
      }
      label:hover label:hover {
        background-color: #dfd;
      }
      input[type="radio"]:focus + label {
        border: 2px dashed #ccc;
      }
      input[type="radio"]:checked + label {
        background-color: #fff;
        border-color: #fff;
        color: #555;
      }

    }

    p {
      margin: 0 0 1em 0;
    }

    .textareaLabel {
      clear: both;
      float: left;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.2em;
      line-height: 1.5;
      color: #555;
      margin-top: 10px;
    }

    textarea {
      border: 2px solid #555;
      outline: none;
      resize: none;
      width: 100%;
      max-width: 100%;
      height: 25.000em;
      color: #555;
      background-color: #fff;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 1.0em;
      line-height: 1.5;
      padding: 0.625em 0.313em;
      margin-bottom: 1.250em;
    }

    input[type=submit] {
      cursor: pointer;
      clear: both;
      border: none;
      outline: none;
      float: right;
      display: block;
      width: 6.500em;
      height: 2.500em;
      background-color: #fff;
      font-size: 1.2em;
      text-transform: capitalize;
      text-decoration: none;
      color: #555;
      border: 1px solid #555;
      padding: 4px 15px;
      transition: background-color .5s;
      &:hover {
        background-color: rgba(0, 0, 0, 0.3);
      }
    }
  }
}